<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>Educam | Education & Courses HTML Template.</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">  
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        
        <!-- 데이터 테이블 -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css"/>
        <!-- 관리자 CSS -->
        <link rel="stylesheet" th:href="@{/css/admin_css.css}">
        
    </head>
    <body> 
        <div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <header class="sa-header">
            <div class="sa-topbar">
                <div class="container">
                    <div class="topbar-content">
                        <div class="left-content">
                            <ul class="global-list">
                                <li><a href="#"><i class="fas fa-home"></i>HOMEFIX</a></li>
                            </ul>
                        </div>
                        <div class="right-content">
                            <ul class="global-list social">
                                <li><a href="#"><i class="fas fa-user"></i> 관리자 님</a></li>
                            </ul>
                            <ul class="global-list">
                                <li><a href="#" class="btn btn-primary">로그아웃 <i class="fas fa-sign-in-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.top-bar -->

            
        </header><!-- /.sa-header -->  
        
        <div class="container">
	        <div class="row">
		        <div class="col-lg-2">
		            <div class="sa-menu">
		                <nav class="navbar navbar-expand p-0 m-0">	
		                    <div class="container m-0 p-0 b-shadow">
		                    
		                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		                            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
		                        </button> 
		                        
		                        <div class="collapse navbar-collapse" id="navbarNav">
		                        	
		                            <ul class="navbar-nav flex-column w-100 m-0" id="admin-nav">
		                                <li><a class="w-100" th:href="@{/admin/dashboard}"><i class="fas fa-chart-line"></i> <span>대시보드</span></a></li>
		                                <li><a class="w-100" th:href="@{/admin/member}"><i class="fas fa-user"></i> <span>회원관리</span></a></li>
		                                <li class="active"><a class="w-100" th:href="@{/admin/company}"><i class="fas fa-building"></i> <span>업체관리</span></a></li>
		                                <li><a class="w-100" th:href="@{/admin/board}"><i class="fas fa-book"></i> <span>게시글</span></a></li>
		                                <li><a class="w-100" th:href="@{/admin/chart}"><i class="fas fa-chart-line"></i> <span>차트</span></a></li>
		                            </ul>       
		                        </div> 
		
		                        
		                    </div><!-- /.container -->
		                </nav><!-- /.navbar -->                                
		            </div><!-- /.sa-menu -->       
				</div>
				<div class="col-lg-9">
					<div class="sa-section">
			            <div class="section-content section-padding pt-3 pb-0">
			                <div class="container">
				                <div class="section-header justify-content-between">
			                        <div class="title">
			                        	<h1>회원 관리</h1>
			                        </div>                        
			                    </div><!-- /.section-header -->
			                    <div class="address-content" id="admin-info">
			                        <div class="row">
			                            <div class="col-6">
				                            <div class="address">
				                                <div class="text align-self-center">
				                                	<span>최근 접속수</span>
				                                    <h3><i class="fas fa-walking"></i> 256</h3>
				                                </div>                                    
				                            </div>
				                        </div>
			                            <div class="col-6">
				                            <div class="address">
				                                <div class="text d-inline">
				                                    <span>신규 신고수</span>
				                                    <h3><i class="far fa-angry"></i> 3</h3>
				                                </div>                                    
				                            </div>
				                        </div>
				                        
			                        </div><!-- /.row -->
			                    </div><!-- /.sg-category-content -->
			                </div><!-- /.container -->
			            </div><!-- /.section-content -->
			        </div><!-- /.sa-section -->
				
			        <div class="sa-section">
			            <div class="section-content feature-content section-padding pt-0">
			                <div class="container">
			                    <div class="row">
			                    	<div class="description-tab">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                            	<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#memberList" type="button" role="tab" aria-controls="description" aria-selected="true">고객 목록</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                            	<button class="nav-link" data-bs-toggle="tab" data-bs-target="#alertList" type="button" role="tab" aria-controls="alertList" aria-selected="false">신고목록</button>
                                            </li>
                                        </ul>      

                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="memberList" role="tabpanel" aria-labelledby="memberList-tab">
			                        			<table id="example" class="display" style="width:100%">
			                        				<tbody>
			                        					<tr th:each="c : ${companyList}">
			                        						<td class="companyId" th:text="${c.cid}"></td>
			                        						<td th:text="${c.co_name}"></td>
			                        						<td th:text="${c.chatting}"></td>
			                        						<td th:text="${c.contract}"></td>
			                        						<td th:text="${#dates.format(c.pm_day, 'MM-dd')}"></td>
			                        						<td th:text="${c.report}"></td>
			                        					</tr>
			                        				</tbody>
			                        			</table>	
			                        		</div>
			                        	
                                            <div class="tab-pane fade" id="alertList" role="tabpanel" aria-labelledby="alertList-tab">
			                        			<table id="alert" class="display" style="width:100%"></table>	
			                        		</div>
			                        	</div><!-- / 탭내용 -->
			                        </div><!-- / .tab -->
			                    </div><!-- /.row -->
			                </div><!-- /.container -->
			            </div><!-- /.section-content -->
			        </div><!-- /.sa-section --> 
				</div>
			</div>
        </div>

     	<!-- 업체정보 모달 -->
		<div id="info-modal" class="modal fade" tabindex="-1" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title co_name">업체명</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div><!-- /모달 header -->
		      <div class="modal-body">
		      	<div class="container-fluid">
						<div class="row">
							<div class="description-tab">
								<ul class="nav nav-tabs mt-0" id="company-info" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" data-bs-toggle="tab"
											data-bs-target="#default-info" type="button" role="tab"
											aria-controls="description" aria-selected="true">기본정보</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-bs-toggle="tab"
											data-bs-target="#detail-info" type="button" role="tab"
											aria-controls="alertList" aria-selected="false">상세정보</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-bs-toggle="tab"
											data-bs-target="#discount-info" type="button" role="tab"
											aria-controls="blacklist" aria-selected="false">결제내역</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" data-bs-toggle="tab"
											data-bs-target="#declare-info" type="button" role="tab"
											aria-controls="blacklist" aria-selected="false">신고내역</button>
									</li>
								</ul>

								<div class="tab-content" id="company-info-Content">
									<div class="tab-pane fade show active" id="default-info"
										role="tabpanel" aria-labelledby="memberList-tab">
										<div class="row justify-content-center">
											<div class="col-md-6">
												<!-- 로고 이미지 -->
												<img src="../images/course/1.jpg" alt="Image"
													class="img-fluid co_logo">
											</div>
										</div>
										<div class="pt-2">
											<!-- 기본 정보 -->
											<table
												class="table table-bordered table-sm caption-top table-responsive">
												<tr>
													<td>아이디</td>
													<td colspan="3" class="company_id">회사아아디</td>
												</tr>
												<tr>
													<td>사업자번호</td>
													<td class="co_num">1234567890</td>
													<td>대표자</td>
													<td class="co_ceo">홍길동</td>
												</tr>
												<tr>
													<td>전화번호</td>
													<td colspan="3" class="co_tel">02-3456-7890</td>
												</tr>
												<tr>
													<td>업체메일</td>
													<td colspan="3" class="co_email">company@company.com</td>
												</tr>
												<tr>
													<td>업체주소</td>
													<td colspan="3" class="co_addr">서울시 금천구 어떠한로 몇번</td>
												</tr>
												<tr>
													<td>시공횟수</td>
													<td class="contract">3</td>
													<td>좋아요 수</td>
													<td class="prefer">4</td>
												</tr>
											</table>
										</div>
										<!-- / .row -->
									</div>
									
									<div class="tab-pane fade" id="detail-info" role="tabpanel"
										aria-labelledby="blacklist-tab">
										<div class="justify-content-center">
											<div class="col">
												<!-- 대표 이미지 -->
												<img src="../images/course/1.jpg" alt="Image"
													class="img-fluid company-img">
											</div>
										</div>
										<div class="pt-2">
											<!-- 상세정보 -->
											<table
												class="table table-bordered table-sm caption-top table-responsive">
												<tr>
													<td>경력</td>
													<td class="career"></td>
												</tr>
												<tr>
													<td>전문분야</td>
													<td class="specialty"></td>
												</tr>
												<tr>
													<td>지역</td>
													<td class="area"></td>
												</tr>
											</table>
										</div>
										<!-- / .row -->
									</div>
									<div class="tab-pane fade" id="discount-info" role="tabpanel"
										aria-labelledby="alertList-tab">
										<div class="justify-content-center">
											<div class="col">
												<!--  그래프 이미지 -->
												<img src="../images/course/1.jpg" alt="Image"
													class="img-fluid">
											</div>
										</div>
										<div class="pt-2">
											<!-- 결제 그래프 -->
											<table class="table table-sm caption-top table-responsive">
												<thead>
													<tr class="text-center">
														<td>날짜</td>
														<td>결제번호</td>
														<td>수단</td>
														<td>금액</td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>22/02/03</td>
														<td>purchase-31</td>
														<td class="text-center">카드</td>
														<td class="text-end">30,000원</td>
													</tr>
													<tr>
														<td>22/02/03</td>
														<td>purchase-31</td>
														<td class="text-center">카드</td>
														<td class="text-end">30,000원</td>
													</tr>
													<tr>
														<td>22/02/03</td>
														<td>purchase-31</td>
														<td class="text-center">카드</td>
														<td class="text-end">30,000원</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td>총 금액</td>
														<td class="text-end" colspan="3">350000원</td>
													</tr>
												</tfoot>
											</table>
										</div>
										<!-- / .row -->

									</div>
									<div class="tab-pane fade" id="declare-info" role="tabpanel"
										aria-labelledby="alertList-tab">
										<div class="justify-content-center">
											<div class="col">
												<!--  그래프 이미지 -->
												<img src="../images/course/1.jpg" alt="Image"
													class="img-fluid">
											</div>
										</div>
										<div class="pt-2">
											<!-- 신고 내역 -->
											<table class="table table-sm caption-top table-responsive">
												<thead>
													<tr class="text-center">
														<td>닉네임</td>
														<td>사유</td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>홍홍홍</td>
														<td>저작권침해</td>
													</tr>
													<tr>
														<td>22/02/03</td>
														<td>purchase-31</td>
													</tr>
													<tr>
														<td>22/02/03</td>
														<td>purchase-31</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td>총합</td>
														<td class="text-center">3회</td>
													</tr>
												</tfoot>
											</table>
										</div>
										<!-- / .row -->

									</div>
								</div>
								<!-- / 탭내용 -->
							</div>
							<!-- / .tab -->
						</div>
					</div><!-- / .container-fluid -->
		      </div>
		      <div class="modal-footer" id="modal-buttons">
		        <a href="#" class="btn btn-primary company-update" >정보 수정</a>
		        <a href="#" class="btn btn-primary company-blacklist">블랙리스트</a>
		        <a href="#" class="btn btn-primary bg-danger border-danger company-delete" data-animation="animated fadeInLeft">계정 삭제</a>
		      </div>
		    </div><!-- /모달 내용 -->
		  </div>
		</div><!-- / 업체 모달 -->
		
		


        <!-- JS -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>  
        <script th:src="@{/js/inview.min.js}"></script> 
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery-ui-min.js}"></script>  
        <script th:src="@{/js/jarallax.min.js}"></script>  
        <script th:src="@{/js/counterup.min.js}"></script> 
        <script th:src="@{/js/waypoints.min.js}"></script> 
        <script th:src="@{/js/YTPlayer.min.js}"></script> 
        <script th:src="@{/js/jquery-ui-min.js}"></script>
        <script th:src="@{/js/validate.js}"></script>
        <script th:src="@{/js/main.js}"></script> 
        
        <!-- 관리자 스크립트 -->
        <script th:src="@{/js/admin_script.js}"></script> 
        <!-- 데이터 테이블 -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.js"></script>
        
        
        <script>
        // 테스트용
       	var dataSet = [
	        [ "Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800" ],
	        [ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750" ],
	        [ "Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009/01/12", "$86,000" ],
	        [ "Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012/03/29", "$433,060" ],
	        [ "Airi Satou", "Accountant", "Tokyo", "5407", "2008/11/28", "$162,700" ],
	        [ "Brielle Williamson", "Integration Specialist", "New York", "4804", "2012/12/02", "$372,000" ],
	        [ "Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012/08/06", "$137,500" ],
	        [ "Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010/10/14", "$327,900" ],
	        [ "Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009/09/15", "$205,500" ],
	        [ "Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008/12/13", "$103,600" ],
	        [ "Jena Gaines", "Office Manager", "London", "3814", "2008/12/19", "$90,560" ],
	        [ "Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013/03/03", "$342,000" ],
	        [ "Charde Marshall", "Regional Director", "San Francisco", "6741", "2008/10/16", "$470,600" ],
	        [ "Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012/12/18", "$313,500" ],
	        [ "Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010/03/17", "$385,750" ],
	        [ "Michael Silva", "Marketing Designer", "London", "1581", "2012/11/27", "$198,500" ],
	        [ "Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010/06/09", "$725,000" ],
	        [ "Gloria Little", "Systems Administrator", "New York", "1721", "2009/04/10", "$237,500" ],
	        [ "Bradley Greer", "Software Engineer", "London", "2558", "2012/10/13", "$132,000" ],
	        [ "Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012/09/26", "$217,500" ],
	        [ "Jenette Caldwell", "Development Lead", "New York", "1937", "2011/09/03", "$345,000" ],
	        [ "Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009/06/25", "$675,000" ],
	        [ "Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011/12/12", "$106,450" ],
	        [ "Doris Wilder", "Sales Assistant", "Sidney", "3023", "2010/09/20", "$85,600" ],
	        [ "Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009/10/09", "$1,200,000" ],
	        [ "Gavin Joyce", "Developer", "Edinburgh", "8822", "2010/12/22", "$92,575" ],
	        [ "Jennifer Chang", "Regional Director", "Singapore", "9239", "2010/11/14", "$357,650" ],
	        [ "Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011/06/07", "$206,850" ],
	        [ "Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010/03/11", "$850,000" ],
	        [ "Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011/08/14", "$163,000" ],
	        [ "Michelle House", "Integration Specialist", "Sidney", "2769", "2011/06/02", "$95,400" ],
	        [ "Suki Burks", "Developer", "London", "6832", "2009/10/22", "$114,500" ],
	        [ "Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000" ],
	        [ "Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500" ],
	        [ "Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050" ],
	        [ "Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675" ]
   		];
       	var col_kor = [
            { title: "아이디" },
            { title: "업체명" },
            { title: "상담수" },
            { title: "계약수" },
            { title: "월정액 잔여일" },
            { title: "신고수" }
        ];



        </script>
        
        
    </body>
</html>         