<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<meta name="description" content="">

<title>HomeFix</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/structure.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<link rel="stylesheet" th:href="@{/css/summernote/summernote-lite.css}">
<link rel="stylesheet" th:href="@{/css/bs/Review.css}">

<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

<!-- icons -->
<link rel="icon" th:href="@{/images/ico/favicon.ico}">
<link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
<!-- icons -->


<style type="text/css">

</style>

</head>
<body>
	<div id="preloader">
		<img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
	</div>
	<!-- preloader -->

	


	<form id="writeinfo" enctype="multipart/form-data" method="post" action="/review/write">
		<div class="sg-section">
			<div class="section-content course-details bg-white section-padding">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-lg-8">
							<div class="sa-course">
								<button type="button" class="writedetailbtn">후기작성 세부사항</button>
								<div class="writedetail">
									<div class="input-group mb-3">
										<label class="input-group-text" for="hometype">주거형태</label>
										<select class="form-select" id="hometype" name="hometype">
											<option disabled selected>선택해주세요</option>
											<option value="마이룸">마이룸</option>
											<option value="원룸">원룸</option>
											<option value="오피스텔">오피스텔</option>
											<option value="주택">주택
										</select>
									</div>

									<div class="input-group input-group-sm mb-3">
										<span class="input-group-text" id="inputGroup-sizing-sm">평수</span>
										<input type="text" id="rsize" name="rsize" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
										<span class="input-group-text" id="inputGroup-sizing-sm">예산</span>
										<input type="text" id="rbudget" name="rbudget" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
									</div>

									<div class="input-group mb-3">
										<label class="input-group-text" for="job">작업분야</label>
										<select class="form-select" id="job" name="job">
											<option disabled selected>선택해주세요</option>
											<option value="홈스타일링">홈스타일링</option>
											<option value="리모델링">리모델링</option>
											<option value="부분시공">부분시공</option>
										</select>
									</div>
									<div class="input-group mb-3">
										<label class="input-group-text" for="family">가족형태</label>
										<select class="form-select" id="family" name="family">
											<option disabled selected>선택해주세요</option>
											<option value="싱글">싱글</option>
											<option value="신혼/부부">신혼/부부</option>
											<option value="자녀동반">자녀동반</option>
										</select>
									</div>
									<div class="input-group mb-3">
										<label class="input-group-text" for="worker">작업자</label>
										<select class="form-select" id="worker" name="worker">
											<option disabled selected>필수선택사항입니다</option>
											
											<option value="하프셀프">하프셀프</option>
											<option value="전문가">전문가</option>
										</select>
									</div>

									<div class="input-group input-group-sm mb-3 ">
										<span class="input-group-text" id="inputGroup-sizing-sm">지역</span>
										<input type="text" id="loc" name="loc" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
									</div>

									<div class="input-group input-group-sm mb-3">
										<span class="input-group-text" id="inputGroup-sizing-sm">세부정보</span>
										<input type="text" id="extrainfo" name="extrainfo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
									</div>

									<div class="previewImage">
										<label class="previewImagebtn" for="inputImage">섬네일 미리보기</label> <img style="width: 100%;" id="previewImage" src="https://dummyimage.com/300x100/ffffff/000000.png&text=file upload">
										<input style="display: block; visibility: hidden;" type="file" accept="image/*" id="inputImage" name="inputImage">
										<input hidden="" id="rimgadr" name="rimgadr">
									</div>
								</div>
								<!-- /.writedetail -->
							</div>
							<!-- /.sa-course -->
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- 본문 -->
		<div class="sg-section">
			<div class="section-content course-details bg-white ">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-lg-8">
							<div class="sa-course">
								<div class="course-info">
									<input type="text" placeholder="제목을 입력해주세요." class="writeTitle" name="rtitle" />
									<textarea id="summernote" name="rcont"></textarea>
									<div style="text-align: center;">
										<button type="button" class="writebtn">작성</button>
									</div>


								</div>
							</div>
							<!-- /.sa-course -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>


	<!-- JS -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/inview.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/jarallax.min.js}"></script>
	<script th:src="@{/js/counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/YTPlayer.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/summernote/summernote-lite.js}"></script>
	<script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
	<script th:src="@{/js/review/reviewWrite.js}"></script>


	

</body>
</html>
