
/*[공통]*/

#estimate_title{
    text-align: center;
}
.bold {
    font-weight: bold;
}

/*end [공통]*/

/*[희망 견적서 상세보기]*/

.warning_cb {
    font-size: 12px;
}

.warning_div{
    text-align: center;
}

.btn_div{
    margin-top: 20px;
    text-align: center;
}

/*end [희망 견적서 상세보기]*/

/*[견적 진행 사항 CIng]*/

.progress_th, .progress_td, .progress_contents_td{
    text-align: center;
}


/* 버튼 hover 기능 끄기 */
.nothover_btn.btn.btn-primary{
	pointer-events: none;
	margin-top: 5px;
}

/* 버튼 색상 변경 */
#nothover_btn{
	background-color: gray;
	border: 1px solid grey;
}

.complete_txt.price.bold{
    color: gray;
}

.ing_btn{
    margin-top: 5px;
}

.progress_tel,.progress_addr{
    font-size: 15px;
    color: #5a5a5a;
    margin: 0px;
}

#progress_detail{
/*    display: none;*/
}

/* 커서(포인터) */
.cursor_pointer{
	cursor: pointer;
}


/*end [견적 진행 사항]*/
