/*공통*/
#estimate_title{
    text-align: center;
}
.bold {
    font-weight: bold;
}
/*end 공통*/

/*희망 견적서 상세보기*/
.warning_cb {
    font-size: 12px;
}

.warning_div{
        text-align: center;
}

.btn_div{
    margin-top: 20px;
    text-align: center;
}
/*end 희망 견적서 상세보기*/

/*견적 진행 사항*/
.progress_th, .progress_td, .progress_contents_td{
    text-align: center;
}

.complete_btn {
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0;
    background-color: grey;
    border: 1px solid grey;
}
.complete_txt.price.bold{
    color: gray;
}

.ing_btn{
    margin-top: 5px;
}

.progress_tel,.progress_addr{
    font-size: 15px;
    color: #5a5a5a;
    margin: 0px;
}

#progress_detail{
/*    display: none;*/
}



/*end 견적 진행 사항*/