
/*[공통]*/

#estimate_title{
    text-align: center;
}
.bold {
    font-weight: bold;
}

/*end [공통]*/

/*[희망 견적서 상세보기]*/

.warning_cb {
    font-size: 12px;
}

.warning_div{
    text-align: center;
}

.btn_div{
    margin-top: 20px;
    text-align: center;
}

/*end [희망 견적서 상세보기]*/

/*[견적 진행 사항 CIng]*/

.progress_th, .progress_td, .progress_contents_td{
    text-align: center;
}


/* 버튼 hover 기능 끄기 */
.nothover_btn.btn.btn-primary{
	pointer-events: none;
	margin-top: 5px;
}

/* 버튼 색상 변경 */
#nothover_btn{
	background-color: gray;
	border: 1px solid grey;
}

.complete_txt.price.bold{
    color: gray;
}

.ing_btn{
    margin-top: 5px;
}

.progress_tel,.progress_addr{
    font-size: 15px;
    color: #5a5a5a;
    margin: 0px;
}

#progress_detail{
/*    display: none;*/
}

/* 커서(포인터) */
.cursor_pointer{
	cursor: pointer;
}


/*end [견적 진행 사항]*/

/* header */
.yetest {
    position: absolute;
    top: 100%;  
    min-width: 220px;
    left: 0;
    border-radius: 0;
    list-style: none;
    opacity: 0;
    z-index: 999;
    padding:15px 0;
    visibility: hidden;
    background-color: #fff;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -ms-transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

/* .sa-dropdown:hover >.yetest {
    visibility: visible;
    opacity: 1; 
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
} */

.yetest li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    background-color: #fff;
}

.yetest li.active> a,
.yetest li a:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.user-option .yetest {
    left: initial;
    right: 0;
    padding: 20px;
    min-width: 280px;
    z-index: 9999;
}
