<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<meta name="description" content="">

<title>HomeFix</title>
<script>
	
</script>
<!--end 카카오 주소입력 스크립트-->
<!--개인 스타일-->
<style>
</style>
<!--개인 스타일끝-->
<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/structure.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!--eunhye css  -->
<link rel="stylesheet" th:href="@{/css/eh/companyMypage.css}">
<!-- header css -->
<link rel="stylesheet" th:href="@{/css/sections/header.css}">
<!-- 퀵메뉴바 css -->
<link rel="stylesheet" th:href="@{/css/nav.css}">
<!-- font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900"
	rel="stylesheet">
<!-- icons -->
<link rel="icon" th:href="@{/images/ico/favicon.ico}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
	
<!-- header css -->
<link rel="stylesheet" th:href="@{/css/sections/header.css}">

</head>

<body>
	<div id="preloader">
		<img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
	</div>
	<!-- preloader -->
	<div th:replace="sections/header :: header"></div>
	<hr>
	<!-- /.sa-header -->

	<section class="breadcrumb-section">
		<div class="container">
			<h1>사업자 마이페이지</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/index">Home</a></li>
				<li class="breadcrumb-item">Profile</li>
			</ol>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.breadcrumb-section -->

	<div class="sg-page-content">
		<div class="sg-section">
			<div class="section-content profile-content section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<div class="profile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li>
										<div class="user-info">
											<div class="profile-picture">
												<img
													th:src="|http://140.238.11.118:5000/upload/${company.logo}|"
													alt="Profile Picture">
											</div>
											<div>
												<span class="user-name" id="companyId"
													th:text="${session['userId']}"></span><br /> [<span
													class="user-name" id="companyName"
													th:text="${session['companyName']}"></span>]
											</div>
										</div>
									</li>

									<li class="nav-item"><a class="nav-link active"
										id="user-one-tab" data-bs-toggle="tab"
										data-bs-target="#user-one" role="tab" aria-controls="user-one"
										aria-selected="true">내가 쓴 글</a></li>

									<li class="nav-item"><a class="nav-link"
										th:href="@{/company/write}">포트폴리오 수정</a></li>

									<li class="nav-item"><a class="nav-link"
										id="user-three-tab" data-bs-toggle="tab"
										data-bs-target="#user-three" role="tab"
										aria-controls="user-three" aria-selected="false">구독 관리</a></li>

									<li class="nav-item"><a class="nav-link"
										id="user-four-tab" data-bs-toggle="tab"
										data-bs-target="#user-four" role="tab"
										aria-controls="user-four" aria-selected="false"> 회원정보 수정 </a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/estimation/Chosen}">신청한 견적 보기</a></li>

									<li class="nav-item"><a class="nav-link "
										th:href="@{/estimation/Progress}">시공 중인 견적 보기</a></li>



								</ul>
								<!---------------------------------------------------------tab시작부분-------------------------------------------------------------------------------->
								<div class="tab-content">

									<!-------------------------------------tab one 내가 쓴 글  -------------------------------------->
									<div class="tab-pane fade show active" id="user-one"
										role="tabpanel" aria-labelledby="user-one-tab">
										<div class="profile-section">
											<div class="tab-header">
												<h2>
													<i class="fas fa-feather-alt"></i>&nbsp;&nbsp;내가 쓴 글
												</h2>
												<p>사업체가 직접 쓴 후기를 보여줍니다.</p>
											</div>
											<!-- header -->
											<div class="tab-body" id="tbody_rv"
												style="border-bottom: none;">

												<div class="tab-content" id="pills-tabContent"
													style="border: none;">
													<div class="tab-pane fade show active" id="pills-home"
														role="tabpanel" aria-labelledby="pills-home-tab">
														<div class="row">
															<div class="row" id="myReviswList">
																<div th:if="${ #lists.size(Review)<=0}">
																	<h1>작성한 글이 없습니다.</h1>
																</div>
																<div th:each="list : ${Review}"
																	class="col-12 col-md-6 col-lg-4  ">
																	<div class="sa-post">
																		<div class="entry-header">
																			<div class="entry-thumbnail">
																				<a th:href="@{/review/}+(${list.rid})"> <img
																					th:src="|http://140.238.11.118:5000/upload/${list.rimgadr}|"
																					alt="Image" class="img-fluid" id="thumbnailImage">
																				</a>
																			</div>


																		</div>
																		<div class="course-info">
																			<div class="info">
																				<h2 class="title text-center">
																					<a th:text="${list.rtitle}"></a>
																				</h2>
																				<p class="text-right" th:text="${list.company.name}"></p>
																			</div>
																			<div class="sa-meta">
																				<ul class="global-list">
																					<li><a href="#"> <span><i
																								class="fas fa-heart"></i></span>
																					</a></li>
																					<li><a href="#"> <i class="far fa-eye"></i><span
																							th:text="${list.rcnt}"></span>
																					</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																	<!-- /.course-info -->
																</div>
																<!-- /.sa-post -->




															</div>

															<div th:if="${#lists.size(Review)== 6}"
																class="text-center">
																<!-- 10개 모두 출력되야 보여주기 -->
																<button class="btn btn-primary w-100" id="moreBtnReview">더보기</button>
															</div>

														</div>
														<!--/.row-->

													</div>


													<!-- /.sg-pagination -->
												</div>
											</div>
										</div>
										<!--/.tab-body-->
									</div>

									<!------------------------------------------------- tab  two 포트폴리오 수정---------------------------------------------------- -->
									<div class="tab-pane fade" id="user-two" role="tabpanel">
										<div class="profile-section">
											<div class="tab-header">
												<h2>
													<i class="fas fa-file-invoice"></i>&nbsp;&nbsp;포트폴리오 수정
												</h2>
												<p>포트폴리오를 수정합니다.</p>
											</div>
											<div class="tab-body" id="tbody_rv"
												style="border-bottom: none;"></div>
										</div>
									</div>


									<!------------------------------------------------------tab three  구독관리 부분--------------------------------------------------------------->
									<div class="tab-pane fade" id="user-three" role="tabpanel"
										aria-labelledby="user-three-tab">
										<div class="profile-section">
											<div class="tab-header">
												<h2>
													<i class="fas fa-comments-dollar"></i>&nbsp;&nbsp;구독 관리
												</h2>
												<p>구독내역 및 결제를 관리합니다.</p>
											</div>
											<!-- header -->

											<!-- 결제 정보창 시작!-->
											<div class="tab-body">
												<!-- 견적 테이블 -->
												<div class="shopping-cart">
													<div class="container">
														<div  th:if="${#lists.size(PaymentInfo)== 0}" class="text-center pt-3">
															<h4>검색 결과가 없습니다.</h4>
														</div>
														<div th:if="${#lists.size(PaymentInfo)!= 0}" class="row" style="border: none;">
															<form class="woocommerce-cart-form">
																<table class="table" id="paymentInfo">
																	<thead>
																		<tr>
																			<th>결제번호</th>
																			<th>결제방법</th>
																			<th>결제금액</th>
																			<th>구독권 시작일</th>
																			<th>구독권 종료일</th>
																		</tr>
																	</thead>
																	<div th:if="${ #lists.size(PaymentInfo)<=0}">
																			<h1>작성된 글이 없습니다.</h1>

																		</div>
																	<tbody class="paymentInfoTR" id="paymentInfoAdd">
																		
																		<tr th:each="paymentInfo : ${PaymentInfo}">

																			<td th:text="${paymentInfo.pid}"></td>
																			<td th:text="${paymentInfo.method}"></td>
																			<td th:text="${paymentInfo.amount}"></td>
																			<td th:text="${paymentInfo.pday}"></td>
																			<td th:text="${paymentInfo.plast}"></td>

																		</tr>

																	</tbody>

																</table>
																<div th:if="${#lists.size(PaymentInfo)== 6}"
																	class="text-center">
																	<!-- 10개 모두 출력되야 보여주기 -->
																	<button class="btn btn-primary w-100" id="moreBtn">더보기</button>
																</div>


															</form>

														</div>

														<!-- /.sg-pagination -->
													</div>
												</div>
												<!-- /.cart-section -->
											</div>
											<!-- 더보기 버튼 -->




											<!-- 결제 정보창 끝!!!-->

											<!-- tab-body -->
										</div>
									</div>



									<!------------------------------------------------tab four  회원정보 수정 ----------------------------------------------------->
									<div class="tab-pane fade" id="user-four" role="tabpanel"
										aria-labelledby="user-four-tab">
										<div class="profile-section">
											<form method="post" id="companyModify"
												th:action="@{/sign/company/companyUpdate}"
												th:object="${company}">
												<input type="hidden" name="_method" value="put" />
												<div class="tab-header">
													<h2>
														<i class="far fa-edit"></i>&nbsp;&nbsp;회원정보 수정
													</h2>
													<p>회원정보 수정 및 탈퇴 페이지입니다.</p>
												</div>
												<!-- header -->
												<div class="tab-body">
													<div id="photoFile">

														<img style="width: 100%;" id="previewImage"
															src="https://dummyimage.com/300x100/ffffff/000000.png&text=file upload"
															th:if="*{logo == null}"> <img style="width: 100%;"
															id="previewImage"
															th:src="|http://140.238.11.118:5000/upload/*{logo}|"
															th:if="*{logo != null}"> <input
															style="display: block; visibility: hidden;" type="file"
															accept="image/*" id="inputImage"> <input
															type="hidden" id="cinfo_img" name="logo"
															th:value="*{logo}"> <label
															class="btn btn-primary w-100 mb-5" for="inputImage">사진추가</label>


													</div>


													<div class="form-group">
														<input type="text" class="form-control" id="idhidden"
															name="id" hidden placeholder="아이디" th:value="*{id}">
														<label for="id">아이디<span class="error_box"></span></label><input
															type="text" class="form-control" id="id" name="idd"
															disabled placeholder="아이디" th:value="*{id}">
													</div>
													<div class="form-group">
														<label for="nicname">업체명<span class="error_box"></span></label>
														<input type="text" class="form-control" id="nicname"
															name="name" placeholder="업체명" th:value="*{name}">
													</div>
													<div class="form-group">
														<label for="name">대표자명<span class="error_box"></span></label><input
															type="text" class="form-control" id="name" name="ceo"
															placeholder="대표자명" disabled th:value="*{ceo}">
													</div>
													<div class="form-group">

														<label for="bs_businessNum">사업자번호</label> <input
															type="text" class="form-control" id="bs_businessNum"
															name="num" placeholder="숫자 10자" disabled
															th:value="*{num}">
													</div>
													<div class="form-group">
														<label for="password">비밀번호<span class="error_box"></span></label><input
															type="password" class="form-control" id="password"
															placeholder="영문자 및 숫자 조합 4~10글자" name="pass">
													</div>
													<div class="form-group">
														<label for="two_password">비밀번호 확인<span
															class="error_box"></span></label><input type="password"
															class="form-control" id="two_password" name="passCheck">
													</div>
													<div class="form-group ">
														<label for="bs_memberEmail">이메일<span
															class="error_box"></span></label>
														<div class="row">
															<div class=" col-md-10">
																<input type="email" class="form-control"
																	id="bs_memberEmail" name="email" th:value="*{email}">

																<input type="email" class="form-control" hidden
																	id="bs_memberEmailHidden" name="email2"
																	th:value="*{email}">
															</div>
															<div class=' col-md-2'>
																<button type="button" id="bs_btn_emailCheak"
																	class="btn btn-primary">중복확인</button>
															</div>
														</div>
													</div>


													<div class="form-group">
														<label for="first-name1">전화번호<span
															class="error_box"></span>
														</label><input type="text" class="form-control" id="first-name1"
															name="tel" th:value="*{tel}">
													</div>
													<!--카카오 주소 입력-->
													<div class="form-group">
														<label for="first-name1">우편번호</label>
														<div class='row'>
															<div class="col-lg-9">
																<input type="text" id="sample6_postcode"
																	placeholder="우편번호" class="form-control" name="zip"
																	th:value="*{zip}">
															</div>
															<div class="col-lg-3">
																<input type="button" id="postBtn" value="우편번호 찾기"
																	name="zip" class="btn btn-primary">
															</div>
														</div>
														<input type="text" id="sample6_address" placeholder="주소"
															class="form-control" name="addr" th:value="*{addr}">
														<input type="text" id="sample6_detailAddress"
															placeholder="상세주소" class="form-control" name="addrd"
															th:value="*{addrd}">
													</div>
													<!--end 카카오 주소 입력-->

												</div>
												<!-- tab-body -->
												<div class="tab-footer">
													<div id="blockWithdrawal">
														<span><input type="button" id="Withdrawal"
															class="btn btn-primary" value="탈퇴"></span>
													</div>
													<div class="form-group-btn">
														<input type="button" class="btn btn-primary"
															id="companyUpdate" value="수정">
													</div>

												</div>
											</form>
											<!-- tab-footer -->
										</div>
									</div>
									<!-- /.row -->


									<!----------------------------- tab five 신청 중인 글보기 ------------------------------------------>
									<div class="tab-pane fade " id="user-five" role="tabpanel"
										aria-labelledby="user-five-tab">
										<div class="profile-section">
											<div class="tab-header">
												<h2>
													<i class="fas fa-ruler-combined"></i>&nbsp;&nbsp;신청한 견적 보기
												</h2>
												<p>신청번호를 누르면 상세페이지로 이동합니다.</p>
											</div>
											<!-- header -->
											<div class="tab-body">
												<!-- 견적 테이블 -->
												<div class="shopping-cart">
													<div class="container">
														<div class="row" style="border: none;">
															<form class="woocommerce-cart-form" action="#">
																<table id="applyEstimation" class="table">
																	<thead>
																		<tr>
																			<th scope="col">견적신청번호</th>
																			<th scope="col">시공희망지역</th>
																			<th scope="col">시작희망일</th>
																			<th scope="col">신청ID</th>
																		</tr>
																	</thead>
																	<tbody id="registEstTbody">
																		<tr th:each="list:${RegistList}">
																			<td><a class="estNum"
																				th:href="@{/estimation/ChosenDetail(id=${list.eid})}"><span
																					th:text="${list.eid}"></span></a></td>
																			<td><span th:text="${list.eaddr}"></span></td>
																			<td><span th:text="${list.startDay}"></span></td>
																			<td><span th:text="${list.member.id}"></span></td>
																		</tr>

																	</tbody>

																</table>
																<div th:if="${#lists.size(RegistList)== 6}"
																	class="text-center">
																	<button class="btn btn-primary w-100"
																		id="moreBtnEstimation">더보기</button>
																</div>
															</form>
														</div>

														<!-- /.sg-pagination -->
													</div>
												</div>
												<!-- /.cart-section -->
											</div>
											<!-- tab-footer -->
										</div>
									</div>




									<!----------------------------- tab six 시공 중인 글보기 ------------------------------------------>
									<div class="tab-pane fade" id="user-six" role="tabpanel"
										aria-labelledby="user-six-tab">
										<div class="profile-section">
											<div class="tab-header">
												<h2>시공 중인 견적 보기</h2>
												<p>시공 중인 글을 보여주는 페이지입니다.</p>
											</div>
											<!-- header -->
											<div class="tab-body">
												<!-- 견적 테이블 -->
												<div class="shopping-cart">
													<div class="container">
														<div class="row" style="border: none;">
															<form class="woocommerce-cart-form" action="#">
																<table class="table">
																	<thead>
																		<tr>
																			<th scope="col">제목</th>

																			<th scope="col">시작 희망일</th>
																			<th scope="col">종료 희망일</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<th>
																				<div class="product">
																					<a href="details.html"> <span
																						class="product-thumb"> <img
																							src="images/course/1.jpg" alt="Image"
																							class="img-fluid">
																					</span> <span>이곳에 간단제목이 들어갑니다. 옆에는 썸넬</span>
																					</a>
																				</div> <!-- /.product -->
																			</th>
																			<td><span class="price">21년00월00일</span></td>
																			<td><span class="subtotal">21년00월00일</span></td>
																		</tr>
																		<tr>
																			<th>
																				<div class="product">
																					<a href="details.html"> <span
																						class="product-thumb"> <img
																							src="images/course/2.jpg" alt="Image"
																							class="img-fluid">
																					</span> <span>간단제목들어감옆은썸넬</span>
																					</a>
																				</div> <!-- /.product -->
																			</th>
																			<td><span class="price">21년00월00일</span></td>
																			<td><span class="subtotal">21년00월00일</span></td>
																		</tr>
																		<tr>
																			<th>
																				<div class="product">
																					<a href="details.html"> <span
																						class="product-thumb"> <img
																							src="images/course/3.jpg" alt="Image"
																							class="img-fluid">
																					</span> <span>간단제목제목옆은썸넬</span>
																					</a>
																				</div> <!-- /.product -->
																			</th>
																			<td><span class="price">21년00월00일</span></td>
																			<td><span class="subtotal">21년00월00일</span></td>
																		</tr>

																	</tbody>
																</table>
															</form>
														</div>
														<!-- /.row -->
														<!-- 페이지버튼 -->
														<div class="text-center">
															<ul class="pagination justify-content-center mb-0">
																<li><a class="page-numbers current" href="#">1</a></li>
																<li><a class="page-numbers" href="#">2</a></li>
																<li class="float-right"><a class="page-numbers"
																	href="#"><i class="fas fa-chevron-right"></i></a></li>
															</ul>
														</div>
														<!-- /.sg-pagination -->
													</div>
												</div>
												<!-- /.cart-section -->
											</div>
											<!-- tab-footer -->
										</div>
									</div>






								</div>
								<!-- /.container -->
							</div>
						</div>
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- /.profile-tabs  -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	</div>
	<!-- /.section-content -->
	<div th:replace="sections/nav :: div"></div>

	<div th:replace="sections/footer :: footer"></div>


	<!-- /.footer -->

	<!-- JS -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/inview.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/jarallax.min.js}"></script>
	<script th:src="@{/js/counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/YTPlayer.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!-- header js -->
	<script th:src="@{/js/sections/header.js}"></script>
	<!--카카오 주소입력 스크립트-->
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!--eunhye js  -->
	<script th:src="@{/js/eh/companyMypage.js}"></script>

	<!-- header js -->
	<script th:src="@{/js/sections/header.js}"></script>

	<!-- 퀵메뉴 js -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/chatbotjs/app.js}" charset="UTF-8"></script>
</body>

</html>