<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<meta name="description" content="">

<title>Educam | Education & Courses HTML Template.</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/structure.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- eunhye css -->
<link rel="stylesheet" th:href="@{/css/eh/course-details.css}">
<!-- 퀵메뉴바 css -->
<link rel="stylesheet" th:href="@{/css/nav.css}">

<!-- font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900"
	rel="stylesheet">

<!-- icons -->
<link rel="icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon" sizes="144x144"
	href="../images/ico/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="../images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="../images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon" sizes="57x57"
	href="../images/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>
	<div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->>

	 <div th:replace="sections/header :: header"></div> 
	      <hr>
	<!-- /.sa-header -->

	<section class="breadcrumb-section">
		<div class="container">
			<h1>시공전문가</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">Details</li>
			</ol>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.breadcrumb-section -->

	<div class="sg-section">
		<div class="section-content course-details bg-white section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="sa-course" id="priInfo">
							<div class="course-thumb">
								<img
									th:src="|http://140.238.11.118:5000/upload/${CompanyInfo.cinfo_img}|"
									alt="Image" class="img-fluid">
							</div>


							<div class="description-tab">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="description-tab"
											data-bs-toggle="tab" data-bs-target="#description"
											type="button" role="tab" aria-controls="description"
											aria-selected="true">업체정보</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="course-info-tab"
											data-bs-toggle="tab" data-bs-target="#course-info"
											type="button" role="tab" aria-controls="course-info"
											aria-selected="false">업체소개</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
											data-bs-target="#reviews" type="button" role="tab"
											aria-controls="reviews" aria-selected="false">시공사례</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="comments-tab"
											data-bs-toggle="tab" data-bs-target="#comments" type="button"
											role="tab" aria-controls="comments" aria-selected="false">업체후기</button>
									</li>

								</ul>

								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="description"
										role="tabpanel" aria-labelledby="description-tab">

										<div class="requirements">
											<h4>기본정보</h4>
											<ul class="global-list">
												<li th:text="'대표자: '+ ${CompanyBasic.ceo}"></li>
												<li><input type="hidden" th:value="${CompanyBasic.id}" id="companyCid"></li>
												<li th:text="'경력: '+ ${CompanyInfo.career} + '년'"></li>


												<li>시공지역: <span th:each="a : ${CompanyInfo.area} "
													th:text="${a.area.aname} + ' '"> </span></li>



												<li th:text="'주소: '+${CompanyBasic.addr}"></li>
											</ul>
										</div>
										<!-- /.requirements -->


									</div>
									<div class="tab-pane fade" id="course-info" role="tabpanel"
										aria-labelledby="course-info-tab">
										<h4>전문가 한마디</h4>
										<p th:text="${CompanyInfo.cinfo_cont}"></p>

									</div>
									<div class="tab-pane fade sa-post" id="reviews" role="tabpanel"
										aria-labelledby="reviews-tab">
										<h3 class="widget_title">다양한 시공사례</h3>
										<div id="companyBragBoard">
											<ul th:each="b:${Brag}" class="ulBrag">
												<li class="media">
													<div class="entry-thumbnail entry-header">
														<a th:href="@{/brag/}+(${b.bid})"> <img
															th:if="${not #strings.isEmpty(b.bimgadr)}"
															th:src="|http://140.238.11.118:5000/upload/${b.bimgadr}|"
															alt="Image" class="img-fluid"> <img
															th:if="${#strings.isEmpty(b.bimgadr)}"
															src="images/course/1.jpg" alt="Image" class="img-fluid"></a>


													</div>
													<div class="info">
														<h2 class="title text-center">
															<a th:text="${b.btitle}"></a>
														</h2>
														<p class="text-right" th:text="${b.member.nickname}"></p>
													</div>
													<div class="sa-meta">
														<ul class="global-list">
															<li><a href="#"> <span><i
																		class="fas fa-heart"></i></span>
															</a></li>
															<li><a href="#"> <i class="far fa-eye"></i><span
																	th:text="${b.bcnt}"></span>
															</a></li>
														</ul>
													</div>
													<hr>
												</li>


											</ul>

											
										</div>
<div th:if="${#lists.size(Brag)== 3}" class="text-center">
												<!-- 10개 모두 출력되야 보여주기 -->
												<button class="btn btn-primary w-100" id="moreBtnBrag">더보기</button>
											</div>

									</div>
									<div class="tab-pane fade" id="comments" role="tabpanel"
										aria-labelledby="comments-tab">
										<h4>업체후기</h4>
										<div class="row">
											<div class="row" id="myReviswList">
												<div th:each="list : ${Review}"
													class="col-12 col-md-6 col-lg-4  ">
													<div class="sa-post">
														<div class="entry-header">
															<div class="entry-thumbnail">
																<a th:href="@{/review/}+(${list.rid})"> <img
																	th:src="|http://140.238.11.118:5000/upload/${list.rimgadr}|"
																	alt="Image" class="img-fluid" id="thumbnailImage">
																</a>
															</div>


														</div>
														<div class="course-info">
															<div class="info">
																<h2 class="title text-center">
																	<a th:text="${list.rtitle}"></a>
																</h2>
																<p class="text-right" th:text="${list.company.name}"></p>
															</div>
															<div class="sa-meta">
																<ul class="global-list">
																	<li><a href="#"> <span><i
																				class="fas fa-heart"></i></span>
																	</a></li>
																	<li><a href="#"> <i class="far fa-eye"></i><span
																			th:text="${list.rcnt}"></span>
																	</a></li>
																</ul>
															</div>
														</div>
													</div>
													<!-- /.course-info -->
												</div>
												<!-- /.sa-post -->




											</div>

											<div th:if="${#lists.size(Review)== 6}" class="text-center">
												<!-- 10개 모두 출력되야 보여주기 -->
												<button class="btn btn-primary w-100" id="moreBtnReview">더보기</button>
											</div>

										</div>
										<!-- /.comments-area -->
									</div>
								</div>
								<!-- /.tab-content -->
							</div>
							<!-- /.description-tab -->
						</div>
					</div>
					<!-- /.sa-course -->

					<div class='col-lg-3'>


						<div class=companyImg>



							<div class='imgtutor'>
								<img
									th:src="|http://140.238.11.118:5000/upload/${CompanyBasic.logo}|"
									alt="Profile Picture" id='companyId'>



							</div>

							<div>

								<h4 class="partner_detail__title" th:text="${CompanyBasic.name}">


									<!---->
								</h4>
								<ul class="global-list">
									<li><i class="fas fa-check-circle"></i><span
										th:text="' 대표번호:  ' + ${CompanyBasic.tel} "></span></li>
									<li><i class="fas fa-check-circle"></i><span
										th:text="' 대표메일:  '+ ${CompanyBasic.email} "></span></li>
									<li><i class="fas fa-check-circle"></i> <span
										id="constructNum"
										th:text=" '시공횟수:  ' + ${CompanyBasic.cnt} + '건'"></span></li>
									<li><i class="fas fa-check-circle"></i><span
										th:each="a : ${CompanyInfo.specialty} "
										th:text="' 시공지역:  ' + ${a.sp_cont}"> </span></li>
								</ul>
													
							</div>
						</div>

						</aside>

								<a th:href="@{/estimation/write?cid=}+(${CompanyBasic.id})" id="estRegist" class="btn btn-primary">견적 신청하기</a>
					</div>





				</div>

			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.section-content -->

	<!-- /.sg-section -->

<div th:replace="sections/nav :: div"></div>
		
        <div th:replace="sections/footer :: footer"></div>  

	
	<!-- /.footer -->

	<!-- JS -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/inview.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/jarallax.min.js}"></script>
	<script th:src="@{/js/counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/YTPlayer.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!--font asome js-->
	<script src="https://kit.fontawesome.com/2173f645ed.js"
		crossorigin="anonymous"></script>
	<!--eunhye js  -->
	<script th:src="@{/js/eh/etc.js}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/chatbotjs/app.js}" charset="UTF-8"></script>
</body>
</html>
