<!DOCTYPE html>

<!-- 인테리어 팁 => 입력 페이지 -->
<!-- 타임리프 설정 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>글쓰기</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        <link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">   
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- 개인 css 설정 -->
        <link rel="stylesheet" th:href="@{/css/jy/jy.css}">
                        
    </head>
    <body> 
        <div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <!-- 헤더 -->
        <div th:replace="/sections/header :: header"></div>
        <!-- 헤더 끝 -->
        
        <section class="breadcrumb-section" >
            <div class="container" style="padding-top:30px; padding-bottom:30px;">
                <h1>인테리어 팁</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">글쓰기</li>
                </ol>
            </div><!-- /.container -->
        </section><!-- /.breadcrumb-section --> 
        
        
		<!-- 글쓰기 본문 -->
        <div class="sg-section">
          <form id="writeinfo" th:action='@{/tip/write}' method="post" enctype="multipart/form-data"><!-- enctype 파일첨부 시 써줘야 함 -->
            <div class="section-content course-details bg-white ">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8">
                            <div class="sa-course">
                                <div class="course-info">
                                    
                                    <!-- 카테고리 -->
                                    <select class="category" name="category">
									  <option value="아파트" selected="selected" >아파트</option>
									  <option value="주택">주택</option>
									  <option value="빌라">빌라</option>
									  <option value="원룸">원룸</option>
									  <option value="오피스텔">오피스텔</option>
									  <option value="본인방">본인방</option>
									  <option value="거실">거실</option>
									  <option value="주방">주방</option>
									  <option value="화장실">화장실</option>
									  <option value="기타">기타</option>
									</select>
                                    <!-- 제목 -->
                                    <input type="text" placeholder="제목을 입력해주세요." class="writeTitle" name="tiptitle" id="tiptitle" required="required"/>
                                    <div class="error_box" style="margin-bottom:10px"><span class="tiptitle_error_box"></span></div>
                                    <!-- 내용 -->
                                  	<textarea name="tcontent" placeholder="내용을 입력해주세요." class="tcontent" style="height:350px;" required="required"></textarea>
                                	<div class="error_box" style="margin-bottom:10px"><span class="tcontent_error_box"></span></div>
                                </div>
                                
                                <!-- 파일첨부 -->
                                <div class="form-group" style="padding-left: 30px; padding-bottom: 20px;">
								<label for="InputSubject1">파일첨부</label>
								<input id="fileInput" filestyle="" type="file" data-class-button="btn btn-default" data-class-input="form-control" data-button-text="" data-icon-name="fa fa-upload" class="form-control" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
								
								<div class="bootstrap-filestyle input-group" >
									<input type="text" id="userfile" class="form-control" readonly "margin-bottom: 10px;">
									<input type="hidden" id="cfile" name="tipimg">
									<span class="group-span-filestyle input-group-btn" tabindex="0">
										<label for="fileInput" class="btn btn-default">
											<span class="glyphicon fa fa-upload"></span>
										</label>
									</span>
																		
								</div>
								<div class="error_box" style="margin-bottom:10px"><span class="fileInput_error_box"></span></div>
								</div>
								
                                <!-- 게시 버튼 -->
                                <div class="t_submitdiv" >
                                <button class="btn btn-primary" type="button" id="submitButton">등록하기</button>
                                </div>
                            </div><!-- /.sa-course -->                           
                        </div>
					</div>
				</div>
			</div>
		  </form>
		</div>
		<!-- 노트 끝 -->
		
		<!-- 푸터 -->
        <div th:replace="/sections/footer :: footer"></div>
		<!-- 푸터 끝 -->
		
        <!-- JS -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>  
        <script th:src="@{/js/inview.min.js}"></script> 
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery-ui-min.js}"></script>  
        <script th:src="@{/js/jarallax.min.js}"></script>  
        <script th:src="@{/js/counterup.min.js}"></script> 
        <script th:src="@{/js/waypoints.min.js}"></script> 
        <script th:src="@{/js/YTPlayer.min.js}"></script> 
        <script th:src="@{/js/jquery-ui-min.js}"></script>
        <script th:src="@{/js/validate.js}"></script>
        <script th:src="@{/js/main.js}"></script> 
        <script th:src="@{/js/summernote/summernote-lite.js}"></script>
        <script th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
        
        <!-- 팁 글쓰기 js -->
        <script type="text/javascript">
 		$(document).ready(function(){
 			
 			// 등록버튼 눌렀을 때 ========================================
       		$("#submitButton").on('click', function(){
       			// 제목 필수 안내
       			if($('.writeTitle').val()==""){
       				$('.tiptitle_error_box').text("제목을 입력해주세요.");
       				$('#tiptitle' ).focus();
       				return false;        
       			} else{
       				$('.tiptitle_error_box').text("");
       			}
       			
       			// 내용 필수 안내
       			if($('.tcontent').val()==""){
       				$('.tcontent_error_box').text("내용을 입력해주세요.");
       				$('.tcontent' ).focus();
       				return false;        
       			} else{
       				$('.tcontent_error_box').text("");
       			}
       			
       			// 파일첨부 필수 안내 
       			if($('#userfile').val()==""){
       				$('.fileInput_error_box').text("파일첨부는 필수 사항입니다.");
       				$('#userfile' ).focus();
       				return false;        
       			} else{
       				$('.fileInput_error_box').text("");
       			}
       		});//====================================================
       			
       			
       		// 파일 첨부버튼 눌렀을 때
       		$("#fileInput").on('change', function(){  // 값이 변경되면
       			if(window.FileReader){  // modern browser
       				var filename = $(this)[0].files[0].name;
       			} else {  // old IE
       	 			var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
       			}

       	 		// 추출한 파일명 삽입
       			$("#userfile").val(filename);
       		});
       		
       		
       	   // 파일이미지 서버 저장=================================================
       	   const form = $('#writeinfo');
       	   const img = $('#cfile');
       	   // form submit버튼 누른 후 동작
       	   // 이미지 저장후 submit 
       	   $('#submitButton').click(() => {
       	      const imageInput = $('#fileInput')[0]; // input에서 이미지 가져오기
       	      const formData = new FormData();
       	      if(imageInput.files[0] != null){
       	         // 이미지명 uuid로 변경
       	         const imgName = uuid(imageInput.files[0].name);
       	         formData.append("file", imageInput.files[0], imgName);   
       	         
       	         const result = saveImage(formData); //이미지 저장
       	         if(result){
       	            // 결과가 성공시 input hidden에 이미지명 넣기(DB에 저장할 이미지명)
       	            img.val(imgName); 
       	         }
       	      }
       	      
       	      form.submit()
       	   })
       	   
       	   // uuid 생성
       	   function uuid(file_nm) {
       	      const s4 = () => ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1)
       	      
       	      return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4() + file_nm.substr(file_nm.indexOf("."), file_nm.length-1).toLowerCase();
       	   }
       	   
       	   // 이미지 저장 ajax
       	   function saveImage(formData){
       	      let answer = false;
       	      $.ajax({
       	         type: "POST",
       	         url: "http://140.238.11.118:5000/upload",
       	         processData: false,
       	         contentType: false,
       	         data: formData,
       	         async: false
       	      }).done(() => {
       	         answer = true;
       	      }).fail(() => {
       	         
       	      })
       	      
       	      return answer;
       	   }
 		
 		});
 		</script>
        
        
        
    </body>
</html>        