<!DOCTYPE html>

<!-- 인테리어 팁 페이지 -->
<!-- 타임리프 설정 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="">
	    <meta name="description" content="">
	
	    <title> 인테리어 팁 </title>
	
	    <!-- CSS -->
	    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/css/all.min.css}">
	    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
	    <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
	    <link rel="stylesheet" th:href="@{/css/slick.css}">
	    <link rel="stylesheet" th:href="@{/css/structure.css}">
	    <link rel="stylesheet" th:href="@{/css/main.css}">
	    <link rel="stylesheet" th:href="@{/css/responsive.css}">
	    
	    <!-- tip_main css 설정 파일 -->    
	    <link th:href="@{/css/tip_main.css}" rel="stylesheet" type="text/css" />
	    <link th:href="@{/css/tip_common.css}" rel="stylesheet" type="text/css" />
	    
	    <!-- font -->
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">
	
	    <!-- icons -->
	    <link rel="icon" th:href="@{/images/ico/favicon.ico}">
	    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
	    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
	    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
	    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
	    <!-- icons -->
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	        <![endif]-->
	    <!-- Template Developed By ChtStudio -->
	    
	    <!-- header css -->
        <link rel="stylesheet" th:href="@{/css/sections/header.css}">
	    
	    <!-- 개인 css 설정 -->
	    <link rel="stylesheet" th:href="@{/css/jy/jy.css}">
	    
		</head>
	
		<body>
	    <div id="preloader">
	        <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
	    </div><!-- preloader -->
	
	    <!-- 헤더 -->
        <div th:replace="/sections/header :: header"></div>
        <!-- 헤더 끝 -->
	
	    <section class="breadcrumb-section ">
	        <div class="container" style="padding-top:30px; padding-bottom:30px;">
	            <h1>인테리어 팁</h1>
	            <ol class="breadcrumb">
	                <li class="breadcrumb-item"><a th:href="@{/index.html}">Home</a></li>
	                <li class="breadcrumb-item">INTERIOR TIP</li>
	            </ol>
	        </div><!-- /.container -->
	    </section><!-- /.breadcrumb-section -->
	    <!-- 인테리어팁 내용물들 -->
	    <div class="sa-section" id="interiortip_all">
	        <div class="section-content sa-about section-padding">
	            <div class="container tipContainer">
	                        <div class="section-header">
	                            <div class="title">
	                                <h1>인테리어팁</h1>
	                                <span>TIP</span>
	                            </div>
	                        </div>
	                        <div class="feeds">
	                        	<form action="">
	                            <!-- article -->
	                            <!-- 게시물 시작 -->
	                            <article id="post_atl" th:each="tip : ${tipList}">
	                            <!-- 게시물 헤더 -->    
	                                <header id="tip_header">
	                                    <div class="profile-of-article">
	                                        <img class="img-profile pic" src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="dlwlrma님의 프로필 사진">
	                                        <span class="userID main-id point-span" th:text="${tip.member.id}"></span>
	                                        <span class="userID main-id point-span" th:text="${tip.tiptitle}"></span>
	                                    </div>    
	                                </header>  
	                                <!-- /게시물 헤더 끝-->
	                                <div class="main-image">
	                                	<!-- 이미지 입력시 서버 주소 꼭 써주어야 함 -->
	                                	<div><img th:src="|http://140.238.11.118:5000/upload/${tip.tipimg}"></div>
	                                    <div style="padding: 10px;"><span th:text="${tip.tcontent}"></span></div><!-- <img src="" alt="" class="mainPic"> --> <!-- 이미지 입력 란 -->
										
										<!-- 좋아요 -->
										<!-- <a href="#"> <i id="heart" class="my-2 far fa-heart"></i></a>-->
	                                    <!-- 꽉찬하트 <a href="#"> <i id="fill-heart" class="fa fa-heart"></i>-->
				
										<button th:if="${tip.preferck == false}" th:value="${tip.tid}" class="preferSave bg-light" id="love">
											<i id="prefer" class="far fa-heart"></i>
										</button>
										<button th:if="${tip.preferck == true}" th:value="${tip.tid}" class="preferSave bg-light" id="love">
											<i id="prefer" class="fas fa-heart"></i>
										</button> <a class="preferCnt"   th:text="${#lists.size(tip.tipPreferList)}"></a> <input type="hidden" name="tid" th:value="${tip.tid}"> <input type="hidden" name="preferck" th:value="${tip.preferck}"> 
									</div>
	                                
	                                <!-- article text data -->
	                                <!-- 댓글목록 -->
	                                <div class="reaction" style="padding:0px">
	                                  <div class="comment-section" th:each="cmList : ${tip.CommentList}">
		                                    <ul class="comments">
		                                      <div class="comment-like">
		                                      <p>
		                                      <!-- 닉네임 앞에 개인 프로필 이미지 나오게 하기 -->
		                                      <img th:if="${not #strings.isEmpty(cmList.member.profilimg)}" th:src="|http://140.238.11.118:5000/upload/${cmList.member.profilimg}|" alt="Image" class="img-fluid" width="20px">
	                                          <img th:if="${#strings.isEmpty(cmList.member.profilimg)}" src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="Image" class="img-fluid">
		                                      <span class="memberId" style="font-weight:bold" th:text="${cmList.member.nickname}"></span> &nbsp; <span class="contecnt" th:text="${cmList.content}"></span>
		                                      </p>
		                                      </div>
		                                    </ul>
		                                    <div class="time-log">
		                                       <span class="tdate" th:text="${tip.tdate}"></span>
		                                    </div>
		                                    <!-- 본인의 댓글만 삭제할 수 있게 세션의 저장된 memberId와 댓글 작성자의 memberId를 비교해서 버튼 출력 -->
		                                    <!-- <button th:if="${session.memberId == cmList.member.Id}">삭제</button> -->
	                                	</div>
	                                </div>
	                                <!-- 댓글목록 끝 -->
	                                
	                                <!-- 댓글입력 -->
	                                <div class="comment">
	                                	<input type="hidden" th:value="${tip.tid}" class="tipId">
	                            		<input type="hidden" th:value="${tip.member.id}" class="commetWriter">
	                                	<input id="input-comment" name="content" class="input-comment" type="text" placeholder="댓글 내용을 입력해주세요.">
	                                    <button type="button" class="submit-comment">등록</button>
	                                </div>
	                                
	                            </article>
	                                    
	                            <!-- /게시물 끝-->
	                            </form>
	                            <!-- 페이지 버튼 -->
							    <div class="sg-pagination text-center">
							     <ul class="pagination justify-content-center mb-0 " style="margin-top: 20px;" id="pagination">
							         <li><a class="page-numbers current" href="#">1</a></li>
							         <li><a class="page-numbers" href="#">2</a></li>
							         <li class="float-right"><a class="page-numbers" href="#">
							         <i class="fas fa-chevron-right"></i></a></li>
							     </ul>       
								</div><!-- /.sg-pagination -->  
	                            
	            </div><!-- /.container -->
	        </div><!-- /.section-content -->
	    </div><!-- /.sa-section -->
	    </div>
	    </div>
	    
	    <!-- /인테리어팁 내용물들 끝-->
		<!-- top 이동 버튼 -->
		<a id="toTop" href="#">
			<h6>TOP</h6>
		</a>
		<!-- /top 이동 버튼 끝 -->
		<!-- 버튼 -->
		<a th:href="@{/tip/write}"><button id="insertTip"> +글쓰기 </button></a>
		<!-- 버튼 끝 -->
		
		<!-- 푸터 -->
        <div th:replace="/sections/footer :: footer"></div>
		<!-- 푸터 끝 -->
	
	    <!-- JS -->
	    <script th:src="@{/js/jquery.min.js}"></script>
	    <script th:src="@{/js/popper.min.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/inview.min.js}"></script>
	    <script th:src="@{/js/slick.min.js}"></script>
	    <script th:src="@{/js/jquery-ui-min.js}"></script>
	    <script th:src="@{/js/jarallax.min.js}"></script>
	    <script th:src="@{/js/counterup.min.js}"></script>
	    <script th:src="@{/js/waypoints.min.js}"></script>
	    <script th:src="@{/js/YTPlayer.min.js}"></script>
	    <script th:src="@{/js/validate.js}"></script>
	    <script th:src="@{/js/main.js}"></script>
	    
	    <!-- header js -->
        <script th:src="@{/js/sections/header.js}"></script>
        
	    <!-- 인테리어팁용 js 파일 -->
	    <script th:src="@{/js/tip_main.js}"></script>
	    
	    <!-- 개인(페이징 용) js 스크립트 -->
	    <script th:src="@{/js/jy/tipPage.js}"></script>
	    
	    <!-- 페이징 용 -->
	    <script th:inline="javascript">
	    	/*<![CDATA[*/
	    	const pageCnt = /*[[ ${cntTip} ]]*/ +0;
	    	/*]]*/
	    </script>
	    
	    <script type="text/javascript">
	    $(document).ready(function(){
	    	// 좋아요
        	$(document).on('click', '.preferSave', function(e) {
        		e.preventDefault();
        		const btn = $(this);
        		console.log("좋아요 입력 누름");
        		let preferCnt = Number(btn.siblings('.preferCnt').text());
        		const tid = $(this).attr("value"); 
        		console.log(tid);
        		const preferck = $(this).find("i").hasClass('fas') // 좋아요 체크 'fas'클래스 있는지 없는지
        		console.log(preferck);
        		
        		if(preferck == false){
					$.ajax({
						type:'POST',
						url:'/tip/prefer/' + tid,
						success: function(result) {
							console.log(btn)
							console.log(btn.find("i"));
							btn.find("i").removeClass('far');
							btn.find("i").addClass('fas');
							btn.siblings('.preferCnt').text(preferCnt+1);
							console.log("좋아요 성공");
						}
					})
        		} else {
        			$.ajax({
						type:'DELETE',
						url:'/tip/prefer/' + tid,
						success: function(result) {
							console.log(result);
							btn.find("i").removeClass('fas');
							btn.find("i").addClass('far');
							btn.siblings('.preferCnt').text(preferCnt-1);
							console.log("좋아요 취소");
						}, 
						error:function(err){console.log(err)}
					})
        			
        		}
			})
			
	    	
	    })
	    </script>
	    
	</body>
</html>





