<!DOCTYPE html>

<!-- thymeleaf 설정 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>전체 견적 목록</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">  
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        
        <!-- 개인 CSS 파일 링크 -->
        <link rel="stylesheet" th:href="@{/css/jy/jy.css}"> 
        
    </head>
    <body> 
        <div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <!-- 헤더 -->
        <div th:replace="/sections/header :: header"></div>
        <!-- 헤더 끝 -->
        
        <section class="breadcrumb-section">
            <div class="container" style="padding-top:30px; padding-bottom:30px;">
                <h1>전체 견적 목록</h1>
                <p>전체 견적서를 볼 수 있어요.</p>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index.html}">Home</a></li>
                    <li class="breadcrumb-item">견적 목록</li>
                </ol>
            </div><!-- /.container -->
        </section><!-- /.breadcrumb-section -->

        <div class="shopping-cart section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="woocommerce-cart-form" action="#">
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th class="table-title" scope="col" width="10%" style="text-align: center;">번호</th>
                                        <th class="table-title" scope="col" colspan='4' width="35%">견적 정보</th>
                                        <th class="table-title" scope="col" width="10%">아이디</th>
                                        <th class="table-title" scope="col" width="10%">상태</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr th:each="est : ${estList}">
                                        <td >
                                            <div class="product table-eid" >
                                                <span style="color:black;" th:text="${est.eid}"></span> 
                                            </div><!-- /.product -->                                                  
                                        </td>
                                        
                                        <td colspan='4' >
                                        	<a th:href="@{/estimation/details(id=${est.eid})}"><!-- 나중에 상세페이지로 가기위한 경로설정(게시글 번호) -->
                                        	<span class="price" style="color:black;" th:text="${est.space}"></span> <!--공간유형 -->
                                   				<span style="color:black;">/</span> 
                                   				<span class="price" style="color:black;" th:text="${est.building}"></span> <!-- 건물유형 -->
                                   				<span style="color:black;">/</span> 
                                   				<span class="price" style="color:black;"><span class="price" style="color:black;" th:text="${est.size}"></span>평</span> <!-- 평수 -->
                                   				<span style="color:black;">/</span>
                                   				<span class="price" style="color:black;" th:text="${est.eaddr}"></span> 
                                        	</a></td>
										<td class="table-id"><span class="price" style="color:black;" th:text="${est.member?.id}">아이디</span></td>
                                        <td class="table-ing"><span class="price" >대기중</span></td>
                                        
                                    </tr>
                                   
                                        
                                </tbody>
                            </table>
                            
                            <!-- 페이지 버튼 -->
                            <div class="sg-pagination text-center">
	                            <ul class="pagination justify-content-center mb-0 " style="margin-top: 20px;" id="pagination">
	                                <li><a class="page-numbers current" href="#">1</a></li>
	                                <li><a class="page-numbers" href="#">2</a></li>
	                                <li class="float-right"><a class="page-numbers" href="#">
	                                <i class="fas fa-chevron-right"></i></a></li>
	                            </ul>       
                       		</div><!-- /.sg-pagination -->  
                        </form>                         
                    </div>
                </div><!-- /.row -->                      
            </div>
        </div><!-- /.cart-section -->        
        <div class="sa-section">
                <div class="container">
                    <div class="section-header d-flex justify-content-center">
                        <div class="title align-self-center">
                        </div>              
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->

        <!-- 푸터 -->
        <div th:replace="/sections/footer :: footer"></div>
		<!-- 푸터 끝 -->
		
        <!-- JS -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>  
        <script th:src="@{/js/inview.min.js}"></script> 
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery-ui-min.js}"></script>  
        <script th:src="@{/js/jarallax.min.js}"></script>  
        <script th:src="@{/js/counterup.min.js}"></script> 
        <script th:src="@{/js/waypoints.min.js}"></script> 
        <script th:src="@{/js/YTPlayer.min.js}"></script> 
        <script th:src="@{/js/jquery-ui-min.js}"></script>
        <script th:src="@{/js/validate.js}"></script>
        <script th:src="@{/js/jquery.spinner.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>   
        
        <!-- 개인 js 스크립트 -->
        <script th:src="@{/js/jy/page.js}"></script>
        
        <!-- 페이징 용 -->
        <script th:inline="javascript">
        	/*<![CDATA[*/
        	const pageCnt = /*[[ ${cntEst} ]]*/ +0;
        	/*]]*/
        </script>
        
        
        
    </body>
</html>         