<!DOCTYPE html>

<!-- thymeleaf 설정 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title> 자주 묻는 질문 </title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">  
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        
        <!-- header css -->
		<link rel="stylesheet" th:href="@{/css/sections/header.css}">
		
		<!-- 퀵메뉴바 css -->
		<link rel="stylesheet" th:href="@{/css/nav.css}">
		
        <!-- 개인 css 설정 -->
        <link rel="stylesheet" th:href="@{/css/jy/jy.css}">
        
    </head>
    <body> 
        <div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <!-- 헤더 -->
        <div th:replace="sections/header :: header"></div>
        <!-- 헤더 끝 -->       

        <section class="breadcrumb-section">
            <div class="container" style="padding-top:30px; padding-bottom:30px;" >
                <h1>자주묻는 질문</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index.html}">Home</a></li>
                    <li class="breadcrumb-item">FAQ</li>
                </ol>
            </div><!-- /.container -->
        </section><!-- /.breadcrumb-section -->

        <div class="contact-section section-padding">
            <div class="container">
                <div class="address-content">
                    <div class="row">
                        
                    </div>
                </div>      
                <div id="help" style="margin-bottom: 30px;"> <h4><i class="fa-solid fa-circle-info"></i> 무엇을 도와드릴까요?</h4></div>
                <form id="contactform" class="contact-form" action="mail.php" method="post" enctype="text/plain" novalidate="novalidate">
                    
                <!-- 아코디언 시작 -->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  
                    <!--1번-->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        인테리어 상담과 시공을 직접 해주시나요?
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">홈픽스에서는 사용자와 인테리어 전문가님을 중개하는 서비스로, 홈픽스가 직접 상담과 시공을 진행하지 않습니다. </div>
                      </div>
                    </div>
                    
                    <!--2번-->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        회원정보를 수정하고 싶은데 어떻게 해야하나요?
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">우측 상단 프로필 사진을 클릭 후 [마이페이지-회원정보수정] 페이지에서 회원 정보 수정이 가능합니다.</div>
                    </div>
                  </div>
                  
                  <!--3번-->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        회원탈퇴는 어떻게 하나요?
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">우측 상단 프로필 사진 클릭 후 [마이페이지 > 설정 > 회원정보수정] 상단의 탈퇴하기 버튼을 클릭해주세요.</div>
                    </div>
                  </div>
                  
                  <!--4번-->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        "좋아요"를 누른 글(자랑/인테리어 팁 등)은 어디서 볼 수 있나요?
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">우측 상단 프로필 사진을 클릭 후 [마이페이지 > "좋아요" 목록] 페이지에서 확인 가능합니다.</div>
                    </div>
                  </div>
                  
                  <!-- 5번 -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        좋지 않은 글을 발견했습니다. 어떻게 해야하나요?
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">글 하단 신고 버튼을 눌러 글 신고가 가능합니다.</div>
                    </div>
                  </div>
                </div>
                <!-- /아코디언 끝-->
                    
                </form>                     
            </div>
        </div><!-- /.contact-section -->        

        <!-- 푸터 -->
        <div th:replace="sections/footer :: footer"></div>
		<!-- 푸터 끝 -->
		
		<!-- 퀵메뉴바 -->
		<div th:replace="sections/nav :: div"></div>
		
        <!-- JS -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>  
        <script th:src="@{/js/inview.min.js}"></script> 
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery-ui-min.js}"></script>  
        <script th:src="@{/js/jarallax.min.js}"></script>  
        <script th:src="@{/js/counterup.min.js}"></script> 
        <script th:src="@{/js/waypoints.min.js}"></script> 
        <script th:src="@{/js/YTPlayer.min.js}"></script> 
        <script th:src="@{/js/jquery-ui-min.js}"></script>
        <script th:src="@{/js/validate.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        
        <!-- header js -->
		<script th:src="@{/js/sections/header.js}"></script>
		
		<!-- 퀵메뉴 js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script th:src="@{/chatbotjs/app.js}" charset="UTF-8"></script>
				
        <!-- fontawesome js 아이콘 설정 -->
		<script src="https://kit.fontawesome.com/2173f645ed.js"></script>
    </body>
</html>         