/********* 견적신청 페이지 estimation.html 설정 ***********/

	/* 화면글자 전체 가운데 정렬*/    
	.about-info { text-align:  center; }
	    
	/* li 체크표시 가운데 정렬*/
	li {display: inline-block;
	    margin: 0px;
	    padding: 0px; 
	    } 
	
	.area-form-text{
	    position: relative;
	    display : inline-flex;
	    /*border-bottom : 1px solid #ccc;*/ 
	    }
	        
	#underline, sample6_address{
	   margin-bottom: 0px
	   }
	
	#addr_t{
	   text-align: center;
	   }    
	   
/***********************************************************/

/*** 견적상세 페이지 estimation-details.html 설정******/

/*공통*/
#estimate_title{
    text-align: center;
}
.bold {
    font-weight: bold;
}
/*end 공통*/

/*희망 견적서 상세보기*/
.warning_cb {
    font-size: 12px;
}

.warning_div{
        text-align: center;
}

.btn_div{
    margin-top: 20px;
    text-align: center;
}
/*end 희망 견적서 상세보기*/

/***qna.html 페이지********************************************************/

#help {
    text-align: center;
}

/********************************************************************/

