<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>홈픽스 | HomeFix</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}"> 
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        <link rel="stylesheet" th:href="@{/css/sections/header.css}">
        
        <link rel="stylesheet" th:href="@{/css/nav.css}">
        <link rel="stylesheet" th:href="@{/css/main_page.css}">
        
    </head>
    <body> 
        <div id="preloader">
            <img src="images/preloader.gif" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <div th:replace="/sections/header :: header"></div>      
                                        
        <div id="hero-slider" class="carousel slide hero-content" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-item-content section-before"  style="background-image: url(images/banner/48.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated fadeInDown"><span>Modern</span> Interior</h1>
                                <p data-animation="animated fadeInDown">모던함을 추구하는 당신. 이런 인테리어 어떤가요 ?</p>               
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div><!-- /.carousel-item-content -->
                </div>
                <div class="carousel-item text-center">
                    <div class="carousel-item-content section-before" style="background-image: url(images/banner/45.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated pulse">Lovely <span>interior</span></h1>
                                <p data-animation="animated pulse">우리집도 이렇게 넓으면 좋겠어요</p>          
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div>
                </div>
                <div class="carousel-item text-end">
                    <div class="carousel-item-content section-before" style="background-image: url(images/banner/63.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated fadeInUp">vintage <span>design</span></h1>
                                <p data-animation="animated fadeInUp">약간 빈티지한게 트렌드</p>          
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div>
                </div>
            </div><!-- /.carousel-inner -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>            

            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>            
        </div><!-- /#hero-slider -->
        
        <div class="sa-section">
            <div class="section-content section-padding">
                <div class="container">
                    <div class="sg-category-content">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/brag}">
                                        <span class="icon">
                                            <i class="fas fa-house-user"></i>
                                        </span>
                                        <span>내방어때</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/tip/list}">
                                        <span class="icon">
                                            <i class="fas fa-lightbulb"></i>
                                        </span>
                                        <span>나만의팁</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/review}">
                                        <span class="icon">
                                            <i class="fas fa-hammer"></i>
                                        </span>
                                        <span>시공 후기</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/expert}">
                                        <span class="icon">
                                            <i class="fas fa-hard-hat"></i>
                                        </span>
                                        <span>시공전문가</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:if="${session.userId == null}" th:href="@{/sign/member/profile}">
                                        <span class="icon">
                                            <i class="fas fa-user-alt"></i>
                                        </span>
                                        <span>마이페이지</span>
                                    </a>
                                    <a th:if="${session.userId != null}" th:href="@{/company/profile}">
                                        <span class="icon">
                                            <i class="fas fa-user-alt"></i>
                                        </span>
                                        <span>마이페이지</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            
                            
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1" th:if="${session.userId == null}">
                                    <a th:href="@{/estimation/write}">
                                        <span class="icon">
                                            <i class="fas fa-ruler"></i>
                                        </span>
                                        <span>견적 작성</span>
                                    </a>
                                </div><!-- /.sg-category -->
                                <div class="sg-category style-1" th:if="${session.userId != null}">
                                    <a th:href="@{/estimation/total}">
                                        <span class="icon">
                                            <i class="fas fa-clipboard-list"></i>
                                        </span>
                                        <span>견적 목록</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
							
						
							
                        </div><!-- /.row -->
                    </div><!-- /.sg-category-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->
        
        <div class="sa-section">
            <div class="section-content section-padding padding-top-0">
                <div class="container">
                    <div class="section-header d-flex justify-content-between">
                        <div class="title align-self-center">
                            <h1>인테리어 자랑</h1>
                        </div>  
                        <div class="view-all align-self-center">
                            <a th:href="@{/brag}" class="btn btn-primary">더보기</a>
                        </div>                  
                    </div>

                    <div class="row">
	                    <th:block th:each="b : ${bragList}">
	                        <div class="col-6 col-lg-3">
	                            <div class="sa-post">
	                                <div class="entry-header">
	                                    <div class="entry-thumbnail">
	                                        <a th:href="'/brag/' + ${b.bid}">
	                                        	<img th:if="${not #strings.isEmpty(b.bimgadr)}" th:src="|http://140.238.11.118:5000/upload/${b.bimgadr}|" alt="Image" class="img-fluid thumbnailImage">
	                                        	<img th:if="${#strings.isEmpty(b.bimgadr)}" src="images/course/1.jpg" alt="Image" class="img-fluid thumbnailImage">
	                                        </a>
	                                    </div>
	                                </div>                               
	                                <div class="course-info ">
	                                    <div class="info">
	                                        <h2 class="title"><a th:href="|/brag/${b.bid}|" th:text="${b.btitle}"></a></h2>
	                                        <p class=""><img class='user-img-sm' th:src="|http://140.238.11.118:5000/upload/${b.member.profilimg}|"><span th:text="${b.member.nickname}"></span></p>
	                                    </div>
	                                </div><!-- /.course-info -->
	                            </div><!-- /.sa-post -->                            
	                        </div>
	                	</th:block>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->

        <div class="sa-section">
            <div class="section-content section-padding padding-top-0">
                <div class="container">
                    <div class="section-header justify-content-between">
                        <div class="title align-self-center">
                            <h1>후기</h1>
                        </div>
                        <div class="view-all align-self-center">
                            <a href="/review" class="btn btn-primary">더보기</a>
                        </div>                         
                    </div><!-- /.section-header -->
                    <div class="sa-course-content">
                        <div class="sa-course-slider">
                        	<th:block th:each="r : ${reviewList}">
	                            <div class="sa-course">
	                                <div class="course-thumb">
	                                    <img th:src="|http://140.238.11.118:5000/upload/${r.rimgadr}|" alt="Image" class="img-fluid thumbnailImage">
	                                </div><!-- /.course-thumb -->
	                                <div class="course-info">
	                                    <div class="info">
	                                        <h2 class="title"><a th:href="'/review/'+${r.rid}" th:text="${r.rtitle}">아파트 인테리어 후기</a></h2>
	                                        <p class='' th:text="${#strings.defaultString(r.hometype, '')} + ' / ' + ${#strings.defaultString(r.rsize, 0)} + '평'">아파트/33평</p>
	                                    </div>
	                                    <div class="sa-meta">
	                                        <ul class="global-list">
	                                            <li><p class=''><img class='user-img-sm' th:src="|http://140.238.11.118:5000/upload/${r.company.logo}|"><span th:text="${r.company.name}">홈픽 인테리어</span></p></li>
	                                        </ul>
	                                    </div>
	                                </div><!-- /.course-info -->
	                            </div><!-- /.sg-course -->
							</th:block>
                        </div><!-- /.sg-course-slider -->
                    </div><!-- /sg-course-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->     
		
		<div id="nav-items" class="text-center">
			<ul class="list-group">
				<li class="list-group-item list-group-item-action list-group-horizontal">
					<a id="toTop" class="btn" href="#">TOP</a>
				</li>
				<li class="list-group-item list-group-item-action">
					<a class="btn" href="#">챗봇</a>
				</li>
			</ul>
		</div>
		
		
        <div th:replace="/sections/footer :: footer"></div>  

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>  
        <script src="js/inview.min.js"></script> 
        <script src="js/slick.min.js"></script>
        <script src="js/jquery-ui-min.js"></script>  
        <script src="js/jarallax.min.js"></script>  
        <script src="js/counterup.min.js"></script> 
        <script src="js/waypoints.min.js"></script> 
        <script src="js/YTPlayer.min.js"></script> 
        <script src="js/validate.js"></script>
        <script src="js/main.js"></script>  
        <script th:src="@{/js/sections/header.js}"></script>
    </body>
</html>         