<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>Educam | Education & Courses HTML Template.</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}"> 
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        
        <link rel="stylesheet" th:href="@{/css/main_page.css}">
        
    </head>
    <body> 
        <div id="preloader">
            <img src="images/preloader.gif" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <div th:replace="/sections/header :: header"></div>      
                                        
        <div id="hero-slider" class="carousel slide hero-content" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-item-content section-before"  style="background-image: url(images/bg/s1.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated fadeInDown">Best online <span>course</span></h1>
                                <p data-animation="animated fadeInDown">We provides always our best services for our clients and  always  try to achieve our client's trust and satisfaction.</p>  
                                <div class="buttons">
                                    <a href="#" class="btn btn-primary"  data-animation="animated fadeInRight">Login</a>
                                    <a href="#" class="btn btn-white"  data-animation="animated fadeInLeft">Get a Quote</a>
                                </div>                  
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div><!-- /.carousel-item-content -->
                </div>
                <div class="carousel-item text-center">
                    <div class="carousel-item-content section-before" style="background-image: url(images/bg/s5.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated pulse">Best online <span>course</span></h1>
                                <p data-animation="animated pulse">We provides always our best services for our clients and  always  try to achieve our client's trust and satisfaction.</p>   
                                <div class="buttons">
                                    <a href="#" class="btn btn-primary"  data-animation="animated fadeIn">Login</a>
                                    <a href="#" class="btn btn-white"  data-animation="animated fadeIn">Get a Quote</a>
                                </div>                    
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div>
                </div>
                <div class="carousel-item text-end">
                    <div class="carousel-item-content section-before" style="background-image: url(images/bg/s3.jpg);">
                        <div class="container">
                            <div class="hero-text">
                                <h1 data-animation="animated fadeInUp">Best online <span>course</span></h1>
                                <p data-animation="animated fadeInUp">We provides always our best services for our clients and  always  try to achieve our client's trust and satisfaction.</p>  
                                <div class="buttons">
                                    <a href="#" class="btn btn-primary"  data-animation="animated fadeInRight">Login</a>
                                    <a href="#" class="btn btn-white"  data-animation="animated fadeInLeft">Get a Quote</a>
                                </div>                     
                            </div><!-- /.hero-text -->
                        </div><!-- /.container -->                        
                    </div>
                </div>
            </div><!-- /.carousel-inner -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#hero-slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>            

            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero-slider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>            
        </div><!-- /#hero-slider -->
        
        <div class="sa-section">
            <div class="section-content section-padding">
                <div class="container">
                    <div class="sg-category-content">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/brag/braglist}">
                                        <span class="icon">
                                            <i class="fas fa-house-user"></i>
                                        </span>
                                        <span>내방어때</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/tip/interiortip}">
                                        <span class="icon">
                                            <i class="fas fa-lightbulb"></i>
                                        </span>
                                        <span>나만의팁</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/brag/colist}">
                                        <span class="icon">
                                            <i class="fas fa-hard-hat"></i>
                                        </span>
                                        <span>시공전문가</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/sign/member/profile}">
                                        <span class="icon">
                                            <i class="fas fa-user-alt"></i>
                                        </span>
                                        <span>마이페이지</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/estimation/qna}">
                                        <span class="icon">
                                            <i class="fas fa-question"></i>
                                        </span>
                                        <span>QnA</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/estimation/write}">
                                        <span class="icon">
                                            <i class="fas fa-ruler"></i>
                                        </span>
                                        <span>견적 작성</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
							
							<div class="col-6 col-sm-4 col-lg-2">
                                <div class="sg-category style-1">
                                    <a th:href="@{/company/companyprofile}">
                                        <span class="icon">
                                            <i class="fas fa-user-alt"></i>
                                        </span>
                                        <span>(임시) 업체마이페이지</span>
                                    </a>
                                </div><!-- /.sg-category -->
                            </div>
							
                        </div><!-- /.row -->
                    </div><!-- /.sg-category-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->
        
        <div class="sa-section">
            <div class="section-content section-padding padding-top-0">
                <div class="container">
                    <div class="section-header d-flex justify-content-between">
                        <div class="title align-self-center">
                            <h1>인테리어 자랑</h1>
                        </div>  
                        <div class="view-all align-self-center">
                            <a th:href="@{/brag/braglist}" class="btn btn-primary">더보기</a>
                        </div>                  
                    </div>

                    <div class="row">
	                    <th:block th:each="b : ${bragList}">
	                        <div class="col-6 col-lg-3">
	                            <div class="sa-post">
	                                <div class="entry-header">
	                                    <div class="entry-thumbnail">
	                                        <a href="blog-details.html">
	                                        	<img th:if="${not #strings.isEmpty(b.bimgadr)}" th:src="|http://140.238.11.118:5000/upload/${b.bimgadr}|" alt="Image" class="img-fluid">
	                                        	<img th:if="${#strings.isEmpty(b.bimgadr)}" src="images/course/1.jpg" alt="Image" class="img-fluid">
	                                        </a>
	                                    </div>
	                                </div>                               
	                                <div class="course-info ">
	                                    <div class="info">
	                                        <h2 class="title"><a href="course-details.html" th:text="${b.btitle}"></a></h2>
	                                        <p class=""><img class='user-img-sm' src="images/course/1.jpg"><span th:text="${b.member.nickname}"></span></p>
	                                    </div>
	                                </div><!-- /.course-info -->
	                            </div><!-- /.sa-post -->                            
	                        </div>
	                	</th:block>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->

        <div class="sa-section">
            <div class="section-content section-padding padding-top-0">
                <div class="container">
                    <div class="section-header justify-content-between">
                        <div class="title align-self-center">
                            <h1>후기</h1>
                        </div>
                        <div class="view-all align-self-center">
                            <a href="course-grid.html" class="btn btn-primary">더보기</a>
                        </div>                         
                    </div><!-- /.section-header -->
                    <div class="sa-course-content">
                        <div class="sa-course-slider">
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->

                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                            <div class="sa-course">
                                <div class="course-thumb">
                                    <img src="images/course/1.jpg" alt="Image" class="img-fluid">
                                </div><!-- /.course-thumb -->
                                <div class="course-info">
                                    <div class="info">
                                        <h2 class="title"><a href="course-details.html">아파트 인테리어 후기</a></h2>
                                        <p class=''>아파트/33평</p>
                                    </div>
                                    <div class="sa-meta">
                                        <ul class="global-list">
                                            <li><p class=''><img class='user-img-sm' src="images/course/1.jpg">홈픽 인테리어</p></li>
                                        </ul>
                                    </div>
                                </div><!-- /.course-info -->
                            </div><!-- /.sg-course -->
                        </div><!-- /.sg-course-slider -->
                    </div><!-- /sg-course-content -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->     
		
        <div th:replace="/sections/footer :: footer"></div>  

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>  
        <script src="js/inview.min.js"></script> 
        <script src="js/slick.min.js"></script>
        <script src="js/jquery-ui-min.js"></script>  
        <script src="js/jarallax.min.js"></script>  
        <script src="js/counterup.min.js"></script> 
        <script src="js/waypoints.min.js"></script> 
        <script src="js/YTPlayer.min.js"></script> 
        <script src="js/validate.js"></script>
        <script src="js/main.js"></script>  
        
    </body>
</html>         