<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<meta name="description" content="">

<title>Educam | Education & Courses HTML Template.</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/structure.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- header css -->
<link rel="stylesheet" th:href="@{/css/sections/header.css}">
<!--eunhye css  -->
<link rel="stylesheet" th:href="@{/css/eh/course-details.css}">
<!-- 퀵메뉴바 css -->
<link rel="stylesheet" th:href="@{/css/nav.css}">

<!-- font -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900"
	rel="stylesheet">

<!-- icons -->
<link rel="icon" th:href="@{/images/ico/favicon.ico}">
<link rel="apple-touch-icon" sizes="144x144"
	th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
<link rel="apple-touch-icon" sizes="114x114"
	th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon" sizes="72x72"
	th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon" sizes="57x57"
	th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">

<!-- Template Developed By ChtStudio -->
</head>
<body>
	<div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
    </div><!-- preloader -->
	<div th:replace="sections/header :: header"></div>

	<!-- /.sa-header -->

	<section class="breadcrumb-section">
		<div class="container">
			<h1>Shopping Cart</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">Payment</li>
			</ol>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.breadcrumb-section -->

	<div class="payment-content section-padding">
		<div class="container">
			<h4 id='monthCash'>
				&nbsp;&nbsp;<i class="fas fa-comments-dollar"></i>&nbsp;&nbsp;HOMEFIX
				구독권 관리
			</h4>



			<input type="text" id="companyId" th:value="${session['userId']}"
				hidden> <input type="hidden" id="endDay"
				th:value="${EndDay}">
			<form class="contact-form" name="contact-form" method="post"
				action="#">
				<div class='row'>
					<div class='col-md-8'>
						<h5 id='monthSelect'>
							<i class="fas fa-check"></i>&nbsp;&nbsp; 구독 개월 수 선택하기:
							&nbsp;&nbsp;<select id='moneySel'>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select> 개월
						</h5>
						<div id='pridiv'></div>
						<h5>
							<i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;금액:&nbsp;&nbsp; <span
								id='price'>9900</span>원이 결제됩니다!

						</h5>
					</div>

					<div class='col-md-2'></div>
					<div class='col-md-2'>

						<button type='button' class="btn btn-primary pull-right">결제하기
						</button>


					</div>
				</div>

			</form>
			<!-- contact-form -->


			<div id='paymentAdventage'>
				<h4>
					<i class="far fa-grin"></i>&nbsp;&nbsp;결제혜택
				</h4>
			</div>
			<div class="order-summary">
				<ul>
					<li><span><i class="fas fa-check"></i> &nbsp;&nbsp; 홈피스
							개인회원과 인테리어 업체 연결</span></li>
					<li><span><i class="fas fa-check"></i> &nbsp;&nbsp; 고객과
							소통을 위한 채팅 서비스 제공</span></li>
					<li><span><i class="fas fa-check"></i> &nbsp;&nbsp; 간편한
							견적 신청 UI 제공</span></li>

				</ul>

			</div>
		</div>
	</div>
	<!-- /.payment-content -->




	<div th:replace="sections/nav :: div"></div>

	<div th:replace="sections/footer :: footer"></div>






	<!-- /.footer -->

	<!-- JS -->

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/inview.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/jarallax.min.js}"></script>
	<script th:src="@{/js/counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/YTPlayer.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!--font asome js-->
	<script src="https://kit.fontawesome.com/2173f645ed.js"
		crossorigin="anonymous"></script>

	<!--imfort js -->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<!--eunhye js  -->
	<script th:src="@{/js/eh/etc.js}"></script>
	
	<!-- header js -->
	<script th:src="@{/js/sections/header.js}"></script>

	<!-- 퀵메뉴 js -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/chatbotjs/app.js}" charset="UTF-8"></script>

</body>
</html>
