/********* 견적신청 페이지 estimation.html 설정 ***********/
	
	/* 화면글자 전체 가운데 정렬*/    
	.about-info { text-align:  center; }
	    
	/* li 체크표시 가운데 정렬*/
	li {display: inline-block;
	    margin: 0px;
	    padding: 0px; 
	    } 
	
	.area-form-text{
	    position: relative;
	    display : inline-flex;
	    /*border-bottom : 1px solid #ccc;*/ 
	    }
	        
	#size, sample6_address, #startDay, #endDay, #underline{
	   margin-bottom: 0px
	   }
	
	#addr_t{
	   text-align: center;
	   }
	   
	/*라디오 버튼 css*/
	.radio {
    padding: 15px 10px;
	}
	.radio input[type=radio]{
	    display: none;
	}
	.radio input[type=radio]+label{
	    display: inline-block;
	    cursor: pointer;
	    height: 45px;
	    width: 130px;
	    border: 1px solid #1abc9c;
	    line-height: 24px;
	    text-align: center;
	    font-weight:bold;
	    font-size:16px;
        border-radius: 4px;
        line-height: 40px;
        margin : 2px;
	}
	.radio input[type=radio]+label{
	    background-color: #1abc9c;
	    color: white;
	}
	.radio input[type=radio]:checked+label{
	    background-color: white;
	    color: #1abc9c;
	}
	
	/*datepicker에서 사용한 이미지 버튼 style적용*/
    
    .ui-datepicker{ font-size: 12px; width: 240px; }
    .ui-datepicker select.ui-datepicker-month{ width:30%; font-size: 11px; }
    .ui-datepicker select.ui-datepicker-year{ width:40%; font-size: 11px; }
    img.ui-datepicker-trigger{ 
    margin-left:2px; vertical-align:middle; cursor: Pointer;
    width:20px;}
    
    /*에러 박스*/
    .error_box {
	    color : red;
	    font-weight: bold;
    
    
    }
    
/*전체 견적 목록****/

.table-eid {
  text-align: center;
}    

    
	       
	   
/***********************************************************/

/*** 견적상세 페이지 estimation-details.html 설정******/

/*공통*/

#estimate_title{
    text-align: center;
}

.bold {
    font-weight: bold;
}
/*end 공통*/

/*희망 견적서 상세보기*/
.warning_cb {
    font-size: 12px;
}

.warning_div{
        text-align: center;
}

.btn_div{
    margin-top: 20px;
    text-align: center;
}

/*end 희망 견적서 상세보기*/

/***qna.html 페이지****************************************************/
#help {
    text-align: center;
}

/********************************************************************/

/*** interiortip-input.html 페이지 ************************************/

.t_submitdiv{
	text-align: center;
	margin-bottom: 40px;
}

.category{
	margin-bottom: 10px;
}

.course-info{
	margin-bottom: 0px;
}

/*Template Developed By ChtStudio*/
.breadcrumb-section {
				padding: 0;
			}
			
.thumnail {
	width: 100vw;
  		height:500px;
  		
	background-repeat: no-repeat;
  		background-position: center center;
  		backgorund-size: 50% 50%;
  		top: 0;
  		left: 0;
  	}
  	
.reviewBar{
	list-style: none;
	
}
.reviewBar li{
	float: left;
	font-size: 30px;
	padding-right: 20px;
}

.reBar{
	padding-top: 15px;
	
}

#love{
	color: red;
	padding-right: 10px;
	font-size: 30px;
}

.review_detail li{
	width:400px;
	list-style: none;
	
}

.reviewer{
	width: 100px;
	height: 100px;
	
	display: inline-block;
}

.reviewer img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	vertical-align: middle;
	display: block;
}

.reviewer_name{
	

}

.details{
	float: left;
	margin-top: 10px;
}
.details strong{
	font-size: 20px;
}
.detail{
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-left: 20px;
}

.fa-home:before{
	font-size: 30px;
}
.fa-ruler:before{
	font-size: 30px;
}
.fa-tools:before{
	font-size: 30px;
}
.fa-users:before{
	font-size: 30px;
}

.note-modal-footer .note-btn {
	float: none;
}

.note-modal-footer{
	height: auto;
}

.writeTitle{
	border-style: 5px solid;
	border-color: #1abc9c;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

/* 인테리어 팁 화면 작게 */
.tipContainer {
	max-width: 800px;
	min-width: 300px;
}

/*팁 좋아요*/

.preferSave {
	background-color: transparent;
}

.preferDelete {
	background-color: transparent;
}

#love {
	color: red;
	padding-left:8px;
	font-size: 20px;
}

/*댓글 삭제*/
.delete-comment{
	background-color: transparent;
	color:gray;
	font-weight: normal;
	font-size:15px;
	align-items: center;
}

.delete-comment:hover{
	background-color: white;
}


/* 버튼 hover 기능 끄기 */
.nothover_btn.btn.btn-primary{
	pointer-events: none;
	margin-top: 5px;
}

/* 버튼 색상 변경 */
#nothover_btn{
	background-color: gray;
	border: 1px solid grey;
}


/*댓글 프로필 이미지 사진 둥글게*/
.img-fluid {
	border-radius: 70%;
	
}