@charset "UTF-8";

#check{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#previewImage{

    width: 160px;
    height: 160px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto;}