/**************** companydetails***********************/
#priInfo{
	padding: 30px;
}



.imgtutor {
    width: 200px;
    height: 200px; 
  border-radius: 100%;
   overflow: hidden;
   position: relative;
  display: inline-block;
 
  
   
}

#companyId{
	text-align: center;
	 height: 200px; 
}


.companyImg{
	text-align: center;
	background:#8080801a;
	
	padding-top:20px;
	
	
    border-radius: 10px;
	
    /* 그림자 부분 */
    box-shadow: 2px 2px 2px 2px #e2dcdcb0;;
}

.partner_detail__title{
	padding-top: 0px;
	margin: 0px;
}

.entry-thumbnail img{
	width: 600px;
	height: 400px;
	
	
}

.ulBrag{
	list-style: none;
	text-align: center;
}

.lineChange {
    white-space: break-spaces;
}
/*******payment*****************************************************/

.justify-content-end{
display: inline-block;	
}
select,option{
	font-size:25px;
}

#monthSelect{
	display: inline;
}

#paymentAdventage{
	margin: 100px 20px 10px 20px;
}
#pridiv{
		margin: 50px;
}
