<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">
<meta name="description" content="">

<title>HomeFix</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
<link rel="stylesheet" th:href="@{/css/slick.css}">
<link rel="stylesheet" th:href="@{/css/structure.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- 자랑 css -->
<link rel="stylesheet" th:href="@{/css/bs/Brag.css}">
<!-- 헤더 css -->
<link rel="stylesheet" th:href="@{/css/sections/header.css}">
<!-- 퀵메뉴바 css -->
<link rel="stylesheet" th:href="@{/css/nav.css}">

<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

<!-- icons -->
<link rel="icon" th:href="@{/images/ico/favicon.ico}">
<link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
<link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
<!-- icons -->


<style type="text/css">
</style>
</head>
<body>
	<div id="preloader">
		<img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
	</div>
	<!-- preloader -->
	
	<!-- header -->
	<div th:replace="sections/header :: header"></div>
	<!-- 퀵메뉴바 -->
	<div th:replace="sections/nav :: div"></div>
	
	<section class="breadcrumb-section" id="bragListHeaderImg" >
		<div class="container" id="bragListHeaderTitle">
			<h1 style="color: #1565c0;">인테리어 자랑</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/index" id="head">Home</a></li>
				<li class="breadcrumb-item"><a href="/brag" id="head">Brag</a></li>
			</ol>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.breadcrumb-section -->

	<div class="sa-section">
		<div class="section-content section-padding">
			<div class="container">
				<div class="section-header d-flex justify-content-between">
					<div class="search_bar align-self-center">
						<ul>
							<li>
								<div class="view-all align-self-center">
									<a class="btn btn-primary" id="sortPreferBtn" href='#'>좋아요순</a>
								</div>
							</li>
							<li>
								<div class="view-all align-self-center">
									<a class="btn btn-primary" id="sortCntBtn" href='#'>조회수순</a>
								</div>
							</li>
							<li>
								<div class="view-all align-self-center">
									<a class="btn btn-primary" id="sortBtn" href='#'>정확도순</a>
								</div>
							</li>
							<li>
							<div class="view-all align-self-center">
									<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locModal">지역</a>
								</div>
								<div class="modal fade " id="locModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">지역 선택</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="container-fluid">
													<ul id="ulBtns">
														<li><button class="btn btn-loc" value="서울">서울</button></li>
														<li><button class="btn btn-loc" value="부산">부산</button></li>
														<li><button class="btn btn-loc" value="대구">대구</button></li>
														<li><button class="btn btn-loc" value="인천">인천</button></li>
														<li><button class="btn btn-loc" value="광주">광주</button></li>
														<li><button class="btn btn-loc" value="대전">대전</button></li>
														<li><button class="btn btn-loc" value="울산">울산</button></li>
														<li><button class="btn btn-loc" value="강원">강원</button></li>
														<li><button class="btn btn-loc" value="경기">경기</button></li>
														<li><button class="btn btn-loc" value="경남">경남</button></li>
														<li><button class="btn btn-loc" value="경북">경북</button></li>
														<li><button class="btn btn-loc" value="전북">전북</button></li>
														<li><button class="btn btn-loc" value="전남">전남</button></li>
														<li><button class="btn btn-loc" value="충남">충남</button></li>
														<li><button class="btn btn-loc" value="충북">충북</button></li>
														<li><button class="btn btn-loc" value="세종">세종</button></li>
														<li><button class="btn btn-loc" value="제주">제주</button></li>
													</ul>
												</div>
												<div></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalCancelBtn">취소</button>
												<button type="button" class="btn btn-primary" id="modalSubmit">검색</button>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
							<div class="view-all align-self-center">
									<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#hometypeModal">주거형태</a>
								</div>
								<div class="modal fade " id="hometypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">주거형태 선택</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="container-fluid">
													<ul id="ulBtnshometype">
														<li><button class="btn btn-hometype" value="마이룸">마이룸</button></li>
														<li><button class="btn btn-hometype" value="원룸">원룸</button></li>
														<li><button class="btn btn-hometype" value="오피스텔">오피스텔</button></li>
														<li><button class="btn btn-hometype" value="주택">주택</button></li>
													</ul>
												</div>
												<div></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="hometypeCancelBtn">취소</button>
												<button type="button" class="btn btn-primary" id="hometypeSubmit">검색</button>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
							<div class="view-all align-self-center">
									<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#familyModal">가족형태</a>
								</div>
								<div class="modal fade " id="familyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">가족형태 선택</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="container-fluid">
													<ul id="ulBtnsfamily">
														<li><button class="btn btn-family" value="싱글">싱글</button></li>
														<li><button class="btn btn-family" value="신혼/부부">신혼/부부</button></li>
														<li><button class="btn btn-family" value="자녀동반">자녀동반</button></li>
														<li><button class="btn btn-family" value="대가족">대가족</button></li>
													</ul>
												</div>
												<div></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="familyCancelBtn">취소</button>
												<button type="button" class="btn btn-primary" id="familySubmit">검색</button>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<!-- 인테리어 자랑 작성하기 -->
					<div class="view-all align-self-center">
						<a th:if="${session.memberId != null}" th:href="@{brag/write}" class="btn btn-primary">자랑하기</a>
						<a th:if="${session.memberId == null}" th:href="@{/sign}" class="btn btn-primary">자랑하기</a>
					</div>
				</div>
				<div class="mb-5">
					<form action="brag" id="searchForm">
						<div id="hiddenInputs">
							<input th:if="${param.loc != null}" type="hidden" name="loc" th:value="${param.loc}"> <input th:if="${param.hometype != null}" type="hidden" name="hometype" th:value="${param.hometype}"> <input th:if="${param.family != null}" type="hidden" name="family" th:value="${param.family}"> <input th:if="${param.job != null}" type="hidden" name="job" th:value="${param.job}">
						</div>
					</form>
				</div>
				
				<!-- 인테리어 자랑 목록 출력 ( 불러올 목록이 없으면 검색결과 없음 출력 ) -->
				<div class="row" id="bragListDiv">
					<div th:if="${#lists.size(bragList) == 0}" class="text-center">
                    	<h4>검색 결과가 없습니다</h4>
                    </div>
					<th:block th:each="list : ${bragList}">
						<div class="bragDiv col-12 col-md-6 col-lg-4 col-sm-12 col-xs-12">
							<div class="sa-post">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<a id="linkImg" th:href="@{brag/{bid}(bid=${list.id})}" > 
											<img th:if="${list.mainimg != null}" th:src="|http://140.238.11.118:5000/upload/${list.mainimg}|" alt="Image" class="img-fluid" id="thumbnailImage"> 
											<img th:if="${list.mainimg == null}" th:src="|http://140.238.11.118:5000/upload/profile_basic.png|" alt="Image" class="img-fluid" id="thumbnailImage">
										</a>
									</div>
									<div class="entry-meta" id="preferIcon">
										<a th:if="${list.preferck == false}" ><i class="my-2 far fa-heart"></i></a>
										<a th:if="${list.preferck == true}" ><i class="my-2 fas fa-heart"></i></a>
									</div>

								</div>
								<div class="course-info">
									<div class="info">
										<h2 class="title text-center">
											<a id="linkTitle" th:href="@{brag/{bid}(bid=${list.id})}"  th:text="${list.title}"></a>
										</h2>
										<p class="text-right">
										<img class="user-img" th:if="${list.profileimg == null}" src="http://140.238.11.118:5000/upload/profile_basic.png">
										<img class="user-img" th:if="${list.profileimg != null}" th:src="|http://140.238.11.118:5000/upload/${list.profileimg}|">
										<a class="nickname" th:text="${list.member.nickname}"></a>
										</p>
									</div>
									<div class="sa-meta">
										<ul class="global-list">
											<li> <i class="fas fa-heart"></i><span class="preferCnt" th:text="${list.prefer}"></span>
											</li>
											<li> <i class="far fa-eye"></i><span class="cnt" th:text="${list.cnt}"></span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /.course-info -->
							</div>
							<!-- /.sa-post -->
						</div>
					</th:block>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.section-content -->
	</div>
	<!-- /.sa-section -->
	
	<!-- 더보기 버튼 -->
    <div th:if="${#lists.size(bragList) == 12}" id="moreDiv" class="text-center">
		<button class="btn btn-primary w-100" id="moreBtn">더보기</button>
	</div>


	<!-- JS -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/inview.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/jarallax.min.js}"></script>
	<script th:src="@{/js/counterup.min.js}"></script>
	<script th:src="@{/js/waypoints.min.js}"></script>
	<script th:src="@{/js/YTPlayer.min.js}"></script>
	<script th:src="@{/js/jquery-ui-min.js}"></script>
	<script th:src="@{/js/validate.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/bs/bragList.js}"></script>
	<script th:src="@{/js/sections/header.js}"></script>

	<!-- 퀵메뉴 js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/chatbotjs/app.js}" charset="UTF-8"></script>
	
</body>
</html>
