<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="description" content="">

        <title>업체리스트</title>

        <!-- CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/YTPlayer.min.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/structure.css}">
        <link rel="stylesheet" th:href="@{/css/main.css}"> 
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">

        <!-- icons -->
        <link rel="icon" th:href="@{/images/ico/favicon.ico}"> 
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-precomposed.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">  
        <!-- icons -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Template Developed By ChtStudio -->
        
        <link rel="stylesheet" th:href="@{/css/sections/header.css}">
        
        <link rel="stylesheet" th:href="@{/css/company/list.css}">
    </head>
    <body> 
        <div id="preloader">
            <img th:src="@{/images/preloader.gif}" alt="Image" class="tr-preloader img-fluid">
        </div><!-- preloader -->
        
        <div th:replace="/sections/header :: header"></div>      
          
       
        
      
        <div class="sa-section">
            <div class="section-content section-padding">
                <div class="container">
                    <div class="section-header d-flex justify-content-between">
                        <div class="search_bar align-self-center">
                            <ul>
                            	<li>
                            		<div class="view-all align-self-center"><a class="btn btn-primary" id="sortReviewBtn" href='#'>리뷰순</a></div>
								</li>
								<li>
									<div class="view-all align-self-center"><a class="btn btn-primary" id="sortContractBtn" href='#'>계약순</a></div>
								</li>
								<li>
									<div class="view-all align-self-center"><a class="btn btn-primary" id="sortBtn" href='#'>정확도순</a></div>
								</li>
								<li>
									<div class="view-all align-self-center">
										<button type="button" class="btn btn-primary" id="areaBtn">지역</button>
									</div>
								</li>

								
                            </ul>
                        </div>

                        <div class="view-all align-self-center">
                            <a th:href="@{/expert}" class="btn btn-primary">전체보기</a>
                        </div>                  
                    </div>
                    <div class="mb-5">
                    	<form action="expert" id="searchForm">
                    	<div id="hiddenInputs">
                    		<input th:if="${param.area != null}" type="hidden" name="area" th:value="${param.area}">
                    	</div>
	                	<div class="coSearch_bar">
	                		<input type="text" class="coSearch" name="keyword" th:value="${param.keyword}">
	                		<button class="coSearch_btn" id="searchBtn">검색</button>
	                	</div>
	                	</form>
                    </div>  
                        	
                    <div class="row" id="companyListDiv">
                    	<!-- 업체 정보 -->
                    	<div th:if="${#lists.size(companyList) == 0}" class="text-center">
                    		<h4>검색 결과가 없습니다</h4>
                    	</div>
                    	<th:block th:each="c : ${companyList}">
	                        <div class="companyDiv col-6 col-md-4 col-lg-4">
	                            <div class="sa-post">
	                                <div class="entry-header">
	                                	<!-- 썸네일 이미지 -->
	                                    <div class="entry-thumbnail">
	                                        <a th:href="|/company/${c.id}|">
	                                        	<img th:if="${c.img == null}" class="titleImg img-fluid" src="http://140.238.11.118:5000/upload/profile_basic.png" alt="Image">
	                                        	<img th:if="${c.img != null}" class="titleImg img-fluid" th:src="|http://140.238.11.118:5000/upload/${c.img}|" alt="Image">
	                                        </a>
	                                    </div><!-- /썸네일 이미지 -->
	                                    <div class="entry-meta bookmarkIcon">
	                                        <i th:if="${c.isPrefer == false}" class="far fa-bookmark"></i>
	                                        <i th:if="${c.isPrefer == true}" class="fas fa-bookmark"></i>
	                                    </div>
	                                </div>
	                                <div class="course-info">
	                                    <div class="info">
	                                        <h2 class="title text-center">
	                                        	<img th:if="${c.logo == null}" class='user-img' src="http://140.238.11.118:5000/upload/profile_basic.png">
	                                        	<img th:if="${c.logo != null}" class='user-img' th:src="|http://140.238.11.118:5000/upload/${c.logo}|">
	                                        	<a th:href="|/company/${c.id}|" class="companyName" th:text="${c.name}">업체 이름</a>
	                                        </h2>
	                                        <div class="companySpecialList">
	                                        	<a class="companySpecial btn btn-secondary m-1" th:each="s : ${c.special}" th:text="${s}"></a>
	                                        </div>
	                                    </div>
	                                    <div class="sa-meta">
	                                        <ul class="global-list">
	                                            <li><span><i class="fas fa-bookmark"></i></span><span class="preferCnt" th:text="${c.prefer}"></span></li>
	                                            <li><span><i class="fas fa-handshake"></i></span><span class="contractCnt" th:text="${c.contract}"></span></li>
	                                        </ul>
	                                    </div>
	                                </div><!-- /.course-info -->
	                            </div><!-- /.sa-post -->                            
	                        </div>
                        </th:block>        
                        
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-content -->
        </div><!-- /.sa-section -->

	<div class="modal fade" id="areaModal" tabindex="-1" aria-labelledby="areaModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="areaModalLabel">지역 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<ul id="ulBtns">
							<li><button class="btn btn-area" value="서울특별시">서울</button></li>
							<li><button class="btn btn-area" value="부산광역시">부산</button></li>
							<li><button class="btn btn-area" value="대구광역시">대구</button></li>
							<li><button class="btn btn-area" value="인천광역시">인천</button></li>
							<li><button class="btn btn-area" value="광주광역시">광주</button></li>
							<li><button class="btn btn-area" value="대전광역시">대전</button></li>
							<li><button class="btn btn-area" value="울산광역시">울산</button></li>
							<li><button class="btn btn-area" value="강원도">강원</button></li>
							<li><button class="btn btn-area" value="경기도">경기</button></li>
							<li><button class="btn btn-area" value="경상남도">경남</button></li>
							<li><button class="btn btn-area" value="경상북도">경북</button></li>
							<li><button class="btn btn-area" value="전라북도">전북</button></li>
							<li><button class="btn btn-area" value="전라남도">전남</button></li>
							<li><button class="btn btn-area" value="충청남도">충남</button></li>
							<li><button class="btn btn-area" value="충청북도">충북</button></li>
							<li><button class="btn btn-area" value="세종특별자치시">세종</button></li>
							<li><button class="btn btn-area" value="제주특별자치도">제주</button></li>
						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" id="modalCancelBtn">취소</button>
					<button type="button" class="btn btn-primary" id="modalSubmit">적용</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

	<!-- 더보기 버튼 -->
        <div th:if="${#lists.size(companyList) == 12}" id="moreDiv" class="text-center">
        	<!-- 10개 모두 출력되야 보여주기 -->
			<button class="btn btn-primary w-100" id="moreBtn">더보기</button>
		</div>

   		<!-- 검색시 footer가 필요없다고 판단 -->
        
       
        <!-- JS -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>  
        <script th:src="@{/js/inview.min.js}"></script> 
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery-ui-min.js}"></script>  
        <script th:src="@{/js/jarallax.min.js}"></script>  
        <script th:src="@{/js/counterup.min.js}"></script> 
        <script th:src="@{/js/waypoints.min.js}"></script> 
        <script th:src="@{/js/YTPlayer.min.js}"></script> 
        <script th:src="@{/js/jquery-ui-min.js}"></script>
        <script th:src="@{/js/validate.js}"></script>
        <script th:src="@{/js/main.js}"></script> 
        
        <script th:src="@{/js/sections/header.js}"></script>
        <script th:src="@{/js/companyList/company.js}"></script> 
        
    </body>
</html>         