<footer>
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-content">
					<div class="row">
						<div class="col-12">
							<div class="footer-widget px-md-4">
								<h3>Quik Links</h3>
								<ul class="global-list list-group-horizontal list-group">
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/}">메인페이지</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/brag}">자랑글</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/review}">시공후기</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/tip/list}">꾸미기팁</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/expert}">시공전문가</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/estimation/write}">견적작성</a></li>
									<li class="list-group-item list-group-item-action bg-transparent border-0"><a th:href="@{/estimation/qna}">QnA</a></li>
								</ul>
							</div>
						</div>
						
						
					</div>
					<!-- /.row -->
				</div>
			</div>
			<!-- /.container -->
		</div>
		<div class="footer-bottom">
			<div class="container text-center">
				<span>Copyright &copy; 2022 HomeFix - All Rights Reserved.</span>
			</div>
			<!-- /.container -->
		</div>
	</div>
	<!-- /.footer -->
</footer>