<header class="sa-header">
	<div class="sa-menu">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"> <img
					src="images/logo.png" alt="Logo" class="img-fluid">
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end"
					id="navbarNav">
					<ul class="navbar-nav">
						<li><a href="#">내방어때</a></li>
						<li><a href="about.html">꾸미기팁</a></li>
						<li><a href="about.html">시공업체</a></li>
						<li><a href="#">견적 신청</a></li>
					</ul>
				</div>
				<div class="right-content">
					<div class="user-option">

						<ul class="global-list">
							<li><i class="far fa-user"></i></li>
							<li><i class="far fa-question-circle"></i></li>
							<li class="sa-dropdown"><span class="cart-number">3</span> <i
								class="far fa-bell"></i>
								<div class="sa-dropdown-menu">
									<ul class="global-list">
										<li class="remove-item"><span class="remove-icon"><i
												class="fas fa-times"></i></span>
											<div class="sa-course">
												<div class="course-info">
													<div class="info">
														<h2 class="title">
															<a href="course-details.html">Visual Basic Web
																Course With Live Project</a>
														</h2>
													</div>
												</div>
												<!-- /.course-info -->
											</div>
											<!-- /.sa-course --></li>
										<li class="remove-item"><span class="remove-icon"><i
												class="fas fa-times"></i></span>
											<div class="sa-course">
												<div class="course-info">
													<div class="info">
														<h2 class="title">
															<a href="course-details.html">Computer Technologies
																Course With Live Project</a>
														</h2>
													</div>
												</div>
												<!-- /.course-info -->
											</div>
											<!-- /.sa-course --></li>
										<li class="remove-item"><span class="remove-icon"><i
												class="fas fa-times"></i></span>
											<div class="sa-course">
												<div class="course-info">
													<div class="info">
														<h2 class="title">
															<a href="course-details.html">Visual Basic Web
																Course With Live Project</a>
														</h2>
													</div>
												</div>
												<!-- /.course-info -->
											</div>
											<!-- /.sa-course --></li>
									</ul>
								</div></li>
							<li>
								<div class="sa-search-form">
									<div class="search-icon">
										<i class="fas fa-search"></i>
									</div>
									<div class="search-form text-center open-search">
										<div class="close-search">
											<span class="remove-icon"><i class="fas fa-times"></i></span>
										</div>
										<form action="#" id="search" method="get">
											<input name="search" type="text"
												placeholder="Enter keyword...">
											<button type="submit">
												<i class="fas fa-search"></i>
											</button>
										</form>
										<!-- /form -->
									</div>
									<!-- /search-form -->
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</nav>
		<!-- /.navbar -->
	</div>
	<!-- /.sa-menu -->
</header>
<!-- /.sa-header -->
