<header class="sa-header">
	<div class="sa-menu">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				
				<a class="navbar-brand" th:href="@{/index}"> <img
					th:src="@{/images/homefix.png}" alt="Logo" class="img-fluid m-0" style="height: 68px;">
					<span class="h2 align-middle">HomeFix</span>
				</a>
				
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end"
					id="navbarNav">
					<ul class="navbar-nav">
						<li><a th:href="@{/brag}">내방어때</a></li>
						<li><a th:href="@{/tip/list}">꾸미기팁</a></li>
						<li><a th:href="@{/review}">시공후기</a></li>
						<li><a th:href="@{/expert}">시공업체</a></li>
						<li><a th:if="${session.userId != null}" th:href="@{/estimation/total}">견적 목록</a></li>
						<li><a th:if="${session.userId == null}" th:href="@{/estimation/write}">견적 신청</a></li>
					</ul>
				</div>
				<div class="right-content">
					<div class="user-option">

						<ul class="global-list">
							<li th:if="${session.memberId == null && session.userId == null}"><a th:href="@{/sign}">Login</a></li>
							<li th:if="${session.memberId != null || session.userId != null}"><a>Logout</a></li>
							<li th:if="${session.memberId != null}"><a th:href="@{/sign/member/profile}"><i class="far fa-user"></i></a></li>
							<li th:if="${session.userId != null}"><a th:href="@{/company/profile}"><i class="far fa-user"></i></a></li>
							<li class="sa-dropdown">
								<i class="fas fa-comments"></i>
								<div class="chatList">
									<ul class="global-list" id="global-list">
										<li class="remove-item"><span class="remove-icon"><i
												class="fas fa-times"></i></span>
											<div class="sa-course">
												<div class="course-info">
													<div class="info">
														<h2 class="title">
															<a href="#">채팅방 목록</a>
														</h2>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li><a th:href="@{/estimation/qna}"><i class="far fa-question-circle"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</nav>
		<!-- /.navbar -->
	</div>
	<!-- /.sa-menu -->
</header>
<!-- /.sa-header -->
